<div class="bg-gray-200 h-screen flex flex-col py-10">
  <div class="flex flex-col items-center justify-center mb-6 text-gray-700">
    <app-loading-element
      *ngIf="state.organization.isLoading"></app-loading-element>

    <app-error-element
      *ngIf="state.organization.isError"
      errorMessage="organization"></app-error-element>

    <app-organization-detail
      *ngIf="state.organization.isReady"
      class="w-full lg:w-10/12"
      type="PROFILE_PAGE"
      [organization]="state.organization.data"></app-organization-detail>
  </div>
</div>
