<label
  class="w-full mb-2 text-sm"
  [class.text-red-600]="ctrl.touched && ctrl.invalid"
  [for]="ctrlId"
  >{{ label }}</label
>

<mat-form-field
  class="w-full min-h-min text-s"
  appearance="outline"
  color="accent">
  <input
    matInput
    autocomplete="off"
    type="{{ showPassword ? 'text' : 'password' }}"
    [placeholder]="label"
    [id]="ctrlId"
    [formControl]="ctrl" />

  <button matSuffix mat-icon-button (click)="showPassword = !showPassword">
    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
  </button>

  <mat-error
    *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('required')"
    class="text-xs">
    Password is a required field
  </mat-error>

  <mat-error
    *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('minlength')"
    class="text-xs">
    Password must contain at least 8 characters
  </mat-error>

  <mat-error
    *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('pattern')"
    class="text-xs">
    Password must contain at least one uppercase letter, one lowercase letter,
    and one number
  </mat-error>
</mat-form-field>
