<div class="flex flex-col bg-white shadow-lg w-full p-8 rounded-3xl">
  <div class="flex flex-row justify-start my-3 text-xl font-bold">
    User Profile:
  </div>

  <div
    class="select-none flex flex-col justify-start items-start p-2 my-1 w-full">
    <label class="organization-profile-label">User ID:</label>

    <input
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="userId"
      [disabled]="true" />
  </div>

  <div class="select-none flex flex-col justify-start items-start p-2 my-1">
    <label class="organization-profile-label">Full Name:</label>

    <input
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="user.firstName + ' ' + user.firstName"
      [disabled]="true" />
  </div>

  <div class="select-none flex flex-col justify-start items-start p-2 my-1">
    <label class="organization-profile-label">Email:</label>

    <input
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="user.email"
      [disabled]="true" />
  </div>
  <div
    *ngIf="type === 'PROFILE_PAGE'"
    class="select-none flex flex-col justify-start items-start p-2 my-1">
    <label class="organization-profile-label">User Role</label>

    <input
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="user.roles"
      [disabled]="true" />
  </div>

  <div
    *ngIf="type !== 'PROFILE_PAGE'"
    class="select-none flex flex-col justify-start items-start p-2 my-1">
    <div class="w-full items-center flex justify-between">
      <label class="organization-profile-label">Roles Management</label>
      <button
        *ngIf="'PARTICIPANT_ADMIN' | hasRole | async"
        mat-icon-button
        aria-label="edit button"
        (click)="toggleRoleForm()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <input
      *ngIf="!roleFormEnable"
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="rolesToList(user.roles)"
      [disabled]="true" />

    <mat-form-field *ngIf="roleFormEnable" class="w-full">
      <mat-label>Choose an Organization Role</mat-label>
      <mat-select
        [(ngModel)]="participantsUserRole"
        (selectionChange)="roleChangeHandled($event, 'PARTICIPANT')">
        <mat-option
          *ngFor="let role of participantRoles.allRoles"
          [value]="role"
          [disabled]="role === participantsUserRole"
          >{{ mapToReadable(role) }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="'AUTHORITY_ADMIN' | hasRole | async">
      <mat-form-field *ngIf="roleFormEnable" class="w-full">
        <mat-label>Choose an Authority Role</mat-label>
        <mat-select
          [(ngModel)]="authorityUserRole"
          (selectionChange)="roleChangeHandled($event, 'AUTHORITY')">
          <mat-option
            *ngFor="let role of authorityRoles.allRoles"
            [value]="role"
            [disabled]="role === authorityUserRole"
            >{{ mapToReadable(role) }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <div class="select-none flex flex-col justify-start items-start p-2 my-1">
    <label class="organization-profile-label">Registration Status:</label>

    <input
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="user.registrationStatus"
      [disabled]="true" />
  </div>

  <div class="select-none flex flex-col justify-start items-start p-2 my-1">
    <label class="organization-profile-label">Registered On</label>

    <input
      class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
      type="text"
      [value]="user.creationDate | date : 'mediumDate'"
      [disabled]="true" />
  </div>

  <div *ngIf="type !== 'PROFILE_PAGE'" class="w-full flex justify-end">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isUpdateRoleActive"
      (click)="updateUserRoles()">
      <mat-icon
        fontIcon="save"
        aria-hidden="false"
        aria-label="Example Save icon"></mat-icon>
      Save
    </button>
  </div>
</div>
