<div
  class="flex flex-col items-center justify-center fixed left-0 right-0 top-0 bottom-0 w-screen h-screen bg-gray-200 text-gray-700 overflow-hidden!important">
  <p
    class="inline-block p-3 m-6 text-2xl font-semibold text-center tracking-wider text-teal-900 uppercase bg-teal-accent-400">
    Please Create the Profile <br />of Your Organisation
  </p>

  <div class="container flex items-center justify-center">
    <form
      class="flex flex-col bg-gray-100 shadow-xl w-2/3 md:w-4/5 xl:w-3/5 2xl:w-1/2 p-10 rounded-lg"
      [formGroup]="form.form"
      (ngSubmit)="submit()">
      <app-input
        label="Organisation Name"
        [control]="form.form.controls.companyName"></app-input>

      <app-input
        label="Address"
        [control]="form.form.controls.address"></app-input>

      <app-input label="DUNS" [control]="form.form.controls.duns"></app-input>
      <app-input label="URL" [control]="form.form.controls.url"></app-input>

      <app-input
        label="Security Contact Email"
        [control]="form.form.controls.securityEmail"></app-input>
      <div class="flex flex-row justify-start my-3">
        <input
          id="authorizedCheck"
          class="mr-6"
          type="checkbox"
          formControlName="authorizedCheck" />
        <label for="authorizedCheck"
          >I hereby confirm that I am authorized and eligible to create a
          profile of
          {{
            form.form.controls.companyName.value || 'my organization'
          }}.</label
        >
      </div>
      <li class="border-gray-400 flex flex-row mt-4">
        <a
          class="select-none cursor-pointer bg-red-200 rounded-md flex flex-1 items-center p-4 text-center transition duration-100 ease-linear transform active:bg-red-300 hover:text-black hover:bg-red-300 focus:text-black focus:bg-red-300 w-28 mr-3"
          [attr.href]="config.logoutUrl">
          <div class="flex-1">
            <div class="text-base">Logout</div>
          </div>
        </a>
        <button
          class="select-none cursor-pointer bg-green-200 rounded-md flex flex-1 items-center p-4 text-center transition duration-100 ease-linear transform active:bg-green-300 hover:bg-green-300 hover:text-black w-28 focus:text-black focus:bg-green-300 disabled:bg-slate-500"
          type="submit"
          [disabled]="submitted || loading || !form.form.valid">
          <div class="flex-1">
            <div class="text-base">Submit</div>
          </div>
        </button>
      </li>
    </form>
  </div>
</div>
