<section class="container m-10 px-10 mx-auto">
  <app-header [headerConfig]="headerConfig"></app-header>

  <!-- Table -->
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-200 border-l-4 border-gray-200">
              <tr>
                <th
                  class="py-3.5 pl-3 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Participant ID
                </th>
                <th
                  class="py-3.5 pl-3 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Name
                </th>
                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Homepage URL
                </th>
                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Endpoint URL
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Created By
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  More
                </th>
              </tr>
            </thead>

            <ng-container *ngIf="state.centralComponents.isReady">
              <ng-container
                *ngIf="state.centralComponents.data.length > 0; else noRows">
                <tbody
                  *ngFor="
                    let centralComponent of state.centralComponents.data;
                    let i = index
                  "
                  class="bg-white divide-y divide-gray-200">
                  <tr
                    class="border-l-4 border-transparent hover:bg-slate-50 hover:border-l-4 hover:border-yellow-600/70 -ml-1">
                    <td
                      class="pl-3 py-8 text-sm font-medium whitespace-nowrap text-gray-700">
                      {{ centralComponent.centralComponentId }}
                    </td>
                    <td
                      class="pl-3 py-8 text-sm font-medium whitespace-nowrap text-gray-700">
                      {{ centralComponent.name }}
                    </td>
                    <td class="py-8 text-sm font-medium whitespace-nowrap">
                      <a
                        class="text-gray-700"
                        target="_blank"
                        [attr.href]="centralComponent.homepageUrl">
                        {{ centralComponent.homepageUrl }}
                      </a>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <a
                        class="text-gray-700"
                        target="_blank"
                        [attr.href]="centralComponent.endpointUrl">
                        {{ centralComponent.endpointUrl }}
                      </a>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap text-gray-700">
                      {{ centralComponent.createdByOrgName }}
                    </td>
                    <td class="py-8 whitespace-nowrap">
                      <app-delete-icon-button
                        [disabled]="state.busy"
                        [loading]="
                          state.busyDeletingComponentId ===
                          centralComponent.centralComponentId
                        "
                        (deleteClick)="
                          showDeleteModal(centralComponent)
                        "></app-delete-icon-button>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-template #noRows>
                <tr>
                  <td
                    class="py-5 mx-auto text-sm font-normal text-center text-gray-700"
                    colspan="6">
                    No components registered yet.
                  </td>
                </tr>
              </ng-template>
            </ng-container>

            <tr *ngIf="state.centralComponents.isLoading">
              <td colspan="6">
                <div class="flex justify-center items-center">
                  <app-loading-element></app-loading-element>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
