<!-- transform xl:translate-x-0 ease-in-out transition duration-500  -->

<div
  class="flex justify-start lg:p-6 my-4 mx-4 lg:mx-2 items-center space-x-3 cursor-pointer text-white"
  (click)="toggleMenuSize()">
  <!-- <img
    class="lg:w-12 w-8 invert"
    src="https://avatars.githubusercontent.com/u/87372305?s=200&v=4" /> -->
  <svg
    class=""
    width="36"
    height="36"
    stroke="currentColor"
    fill="currentColor"
    viewBox="0 -10 108 108"
    xmlns="http://www.w3.org/2000/svg">
    <path
      xmlns="http://www.w3.org/2000/svg"
      stroke-width="2"
      d="M98,41.83h0L73.84,0H24.61L0,42.59,24.61,85.18H73.84L98,43.35h0l.44-.76ZM24,78,4.39,44.1H24Zm0-36.93H4.4L24,7.19ZM70.32,3,60.51,20,31.17,3ZM27,4.15,59,22.59,48.26,41.06H27ZM51.78,41.06l9.84-17L91,41.06ZM91,44.1l-29.41,17-9.85-17Zm-64,0H48.26L59,62.59,27,81Zm33.5,21.12,9.81,16.92H31.17ZM73,80.62,63.14,63.7l29.4-17ZM63.14,21.48,73,4.55,92.54,38.44Z" />
  </svg>
  <p
    class="text-sm lg:block group-hover:blockDisable"
    [ngClass]="smallDisplayExpandedMenu ? 'block' : 'hidden'">
    MDS Authority Portal
  </p>
</div>
<ng-component *ngIf="role === 'admin'"></ng-component>
<sidebar-dashboard-element
  rLink="/dashboard"
  [smallDisplayExpandedMenu]="
    smallDisplayExpandedMenu
  "></sidebar-dashboard-element>

<sidebar-notifications-element
  rLink="/notifications"
  [smallDisplayExpandedMenu]="
    smallDisplayExpandedMenu
  "></sidebar-notifications-element>

<!-- Profile Overview Tab -->
<div class="sidebar-item-container border-gray-600 border-y">
  <div class="flex flex-col">
    <button class="sidebar-item" (click)="toggleSubMenu('profile_overview')">
      <svg
        class="fill-stroke"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5 4C4.44772 4 4 4.44772 4 5V19C4 19.5523 4.44772 20 5 20H12H13C13.5523 20 14 19.5523 14 19V5C14 4.44772 13.5523 4 13 4H5ZM5 22H12H13H19C20.6569 22 22 20.6569 22 19V9C22 7.34315 20.6569 6 19 6H16V5C16 3.34315 14.6569 2 13 2H5C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22ZM19 20H15.8293C15.9398 19.6872 16 19.3506 16 19V8H19C19.5523 8 20 8.44772 20 9V19C20 19.5523 19.5523 20 19 20ZM7 14H5V16H7V14ZM8 14H10V16H8V14ZM13 14H11V16H13V14ZM17 14H19V16H17V14ZM19 10H17V12H19V10ZM5 10H7V12H5V10ZM10 10H8V12H10V10ZM11 10H13V12H11V10ZM7 6H5V8H7V6ZM8 6H10V8H8V6ZM13 6H11V8H13V6Z"
          fill="currentColor" />
      </svg>
      <p
        class="text-sm mt-1 self-center lg:block group-hover:blockDisable"
        [ngClass]="smallDisplayExpandedMenu ? 'block' : 'hidden'">
        Organisation
      </p>
      <svg
        id="icon1"
        class="rotate-180 mt-1 lg:block group-hover:blockDisable"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="[
          smallDisplayExpandedMenu ? 'block' : 'hidden',
          profileOverviewMenuHidden ? 'rotate-90' : ''
        ]">
        <path
          d="M18 15L12 9L6 15"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <div
      id="menu1"
      class="flex justify-start flex-col w-full items-start pt-5"
      [ngClass]="profileOverviewMenuHidden ? 'hidden' : ''">
      <sidebar-organisation-profile-element
        rLink="/organisation"
        [smallDisplayExpandedMenu]="
          smallDisplayExpandedMenu
        "></sidebar-organisation-profile-element>

      <sidebar-users-element
        *ngIf="'AUTHORITY_ADMIN' | hasRole | async"
        rLink="/organisation/users"
        [smallDisplayExpandedMenu]="
          smallDisplayExpandedMenu
        "></sidebar-users-element>
      <sidebar-connectors-element
        rLink="/organisation/connectors"
        [smallDisplayExpandedMenu]="
          smallDisplayExpandedMenu
        "></sidebar-connectors-element>
    </div>
  </div>
</div>

<!-- Data Catalog -->
<div class="sidebar-item-container">
  <a
    class="sidebar-item"
    target="_blank"
    href="https://catalog.mobility-dataspace.eu/">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9 17H15M9 13H15M9 9H10M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.0799 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.0799 21 8.2 21H15.8C16.9201 21 17.4802 21 17.908 20.782C18.2843 20.5903 18.5903 20.2843 18.782 19.908C19 19.4802 19 18.9201 19 17.8V9M13 3L19 9M13 3V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H19"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
    <p
      class="text-sm leading-4 lg:block group-hover:blockDisable"
      [ngClass]="smallDisplayExpandedMenu ? 'block' : 'hidden'">
      Data Catalog
    </p>
  </a>
</div>

<!-- Support -->
<div class="sidebar-item-container">
  <a
    class="sidebar-item"
    target="_blank"
    href="https://mobility-dataspace.online/">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 21H12"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M10 21V3"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M10 4L19 8L10 12"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
    <p
      class="text-sm leading-4 lg:block group-hover:blockDisable"
      [ngClass]="smallDisplayExpandedMenu ? 'block' : 'hidden'">
      Support
    </p>
  </a>
</div>

<!-- User -->
<div class="mt-auto mb-2 flex justify-between items-center w-full h-fit p-3">
  <div
    class="justify-start flex-col items-start lg:flex group-hover:flexDisable"
    [ngClass]="smallDisplayExpandedMenu ? 'block' : 'hidden'">
    <p class="cursor-pointer text-xs leading-5 text-white">
      {{ userInfo?.firstName }} {{ userInfo?.lastName }}
    </p>
    <p
      class="cursor-pointer text-xs leading-3 text-gray-300 lg:block group-hover:blockDisable"
      [ngClass]="smallDisplayExpandedMenu ? 'block' : 'hidden'">
      {{ userInfo?.organizationName }}
    </p>
  </div>

  <a [attr.href]="logoutUrl">
    <svg
      class="cursor-pointer text-white block group-hover:block ml-auto mr-2"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round" />
      <path
        d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </a>
</div>
