<div class="overflow-hidden border border-gray-200 md:rounded-lg w-full">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-200 border-l-4 border-gray-200">
      <tr>
        <th
          class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
          scope="col">
          Organization
        </th>
        <th
          class="py-3.5 pl-3 text-sm font-normal text-gray-700 text-left"
          scope="col">
          Title
        </th>
        <th
          class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
          scope="col">
          Description
        </th>
        <th
          class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
          scope="col">
          Status
        </th>
      </tr>
    </thead>
    <ng-container *ngIf="dataOffers.length > 0; else noRows">
      <tbody
        *ngFor="let dataOffer of dataOffers"
        class="bg-white divide-y divide-gray-200"
        (click)="dataOfferClick.emit(dataOffer)">
        <tr
          class="border-l-4 border-transparent hover:bg-slate-50 hover:border-l-4 hover:border-yellow-600/70 cursor-pointer -ml-1">
          <td
            class="px-4 py-4 text-sm font-medium whitespace-nowrap text-gray-700"
            [matTooltip]="dataOffer.connectorId">
            {{ dataOffer.organizationName }}
          </td>
          <td
            class="px-4 py-4 text-sm font-medium whitespace-nowrap text-gray-700"
            [matTooltip]="dataOffer.assetId">
            {{ dataOffer.assetTitle }}
          </td>
          <td class="px-4 py-4 font-medium text-xs text-gray-700">
            <div class="overflow-hidden text-ellipsis line-clamp-3">
              {{ dataOffer.descriptionShortText }}
            </div>
          </td>
          <td class="px-4 py-4 text-sm font-medium text-gray-700">
            <div class="flex items-center justify-center h-full">
              <app-connector-status-led
                [status]="
                  dataOffer.connectorOnlineStatus
                "></app-connector-status-led>
            </div>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <ng-template #noRows>
      <tr>
        <td
          class="py-5 px-6 text-sm font-normal text-center text-gray-700"
          colspan="100%">
          No organizations to show.
        </td>
      </tr>
    </ng-template>
  </table>
</div>
