<div
  class="relative z-10"
  role="dialog"
  aria-labelledby="slide-over-title"
  aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
      <div class="pointer-events-auto w-screen max-w-3xl">
        <div
          class="flex flex-col overflow-y-auto h-full shadow-xl shadow-gray-400">
          <div class="relative flex-1 bg-[#fcfcfc]">
            <div
              class="bg-gray-100 flex flex-col justify-between h-24 md:h-36 lg:h-44 xl:h-52">
              <!-- Top header -->
              <div
                class="flex sticky top-0 z-50"
                [ngClass]="
                  state.config.showNavigation
                    ? 'justify-between'
                    : 'justify-end'
                ">
                <!-- Navigation -->
                <div *ngIf="state.config.showNavigation" class="p-2">
                  <ng-container [ngSwitch]="state.config.navigationType">
                    <ng-container *ngSwitchCase="'STEPPER'">
                      <button mat-icon-button (click)="onNavigate('PREVIOUS')">
                        <mat-icon
                          class="align-top text-gray-500 hover:text-brand-highlight"
                          svgIcon="chevron-up"></mat-icon>
                      </button>
                      <button mat-icon-button (click)="onNavigate('NEXT')">
                        <mat-icon
                          class="align-top text-gray-500 hover:text-brand-highlight"
                          svgIcon="chevron-down"></mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'GO_BACK'">
                      <button mat-icon-button (click)="onGoBack()">
                        <mat-icon
                          class="align-top text-gray-500 hover:text-brand-highlight"
                          svgIcon="chevron-left"></mat-icon>
                      </button>
                    </ng-container>
                  </ng-container>
                </div>
                <!-- Navigation -->

                <!-- Actions -->
                <div class="p-2">
                  <button mat-icon-button (click)="onClose()">
                    <mat-icon
                      class="align-top text-gray-500 hover:text-brand-highlight"
                      >close</mat-icon
                    >
                  </button>
                </div>
                <!-- Actions -->
              </div>
              <!-- Top header -->
            </div>

            <!-- Slide over content -->
            <div class="flex-1">
              <ng-container
                *ngComponentOutlet="
                  component;
                  injector: dynamicComponentInjector
                "></ng-container>
            </div>
            <!-- Slide over content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
