<div *ngIf="visible" class="fixed z-50 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
    <div
      class="p-4 bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <p class="confirmation-dialog-title">Delete Connector</p>
      <div class="px-4 py-3 confirmation-dialog-prose">
        <div *ngIf="isCaasConnector">
          <p>Deleting this connector will lead to</p>
          <ul class="list-disc mt-1 mb-4 px-4">
            <li>
              the connector being undeployed and deleted (all data is
              irreversibly lost)
            </li>
            <li>
              user access to the sovity customer portal being revoked if this is
              the only remaining CaaS connector
            </li>
          </ul>
        </div>
        <p>Are you sure you want to delete this connector?</p>
      </div>
      <div class="px-4 py-3 flex justify-end gap-2">
        <button class="btn-outline" type="button" (click)="cancel.emit(null)">
          Cancel
        </button>
        <button
          class="btn-accent-danger"
          type="button"
          (click)="confirm.emit(null)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
