<div
  class="flex flex-col items-center justify-center my-6 text-gray-700 overflow-y-scroll">
  <app-loading-element *ngIf="state.connector.isLoading"></app-loading-element>

  <app-error-element
    *ngIf="state.connector.isError"
    errorMessage="connector"></app-error-element>

  <ng-container *ngIf="state.connector.isReady">
    <div class="px-8 mt-8">
      <h3 class="text-base font-semibold text-black">Connector Details</h3>
      <div class="mt-6">
        <dl>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >label</mat-icon
              >
              Connector ID:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.connectorId }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >power</mat-icon
              >
              Type:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.type }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >apartment</mat-icon
              >Organization Name:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.orgName }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >label</mat-icon
              >
              Organization's MDS ID:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.orgMdsId }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >apartment</mat-icon
              >Hosting organization:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.hostName }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >folder</mat-icon
              >Environment:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.environment.title }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >power</mat-icon
              >Connector Name:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.connectorName }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >location_on</mat-icon
              >Location:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.location }}
            </dd>
          </div>
          <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt
              class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
              <mat-icon class="material-icons-outlined text-gray-500"
                >link</mat-icon
              >Endpoint URL:
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
              {{ state.connector.data.url }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </ng-container>
</div>
