<div class="flex gap-4 flex-wrap">
  <!-- Website -->
  <app-text-input
    class="flex-1"
    label="Website"
    ctrlId="formEditWebsite"
    placeholder="https://www.my-org.com"
    [ctrl]="orgForm.controls.website"></app-text-input>
  <!-- Website -->
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Business Unit -->
  <app-text-input
    class="flex-1"
    label="Business Unit"
    ctrlId="formEditBusinessUnit"
    placeholder="My Department"
    [ctrl]="orgForm.controls.businessUnit"></app-text-input>
  <!-- Business Unit -->
</div>

<div class="flex flex-col">
  <app-text-area
    class="flex-1"
    label="Main Adddress"
    placeholder="Example Street 10b, 12345 Frankfurt am Main, Germany"
    ctrlId="formEditMainAddress"
    [ctrl]="orgForm.controls.mainAddress"></app-text-area>

  <mat-checkbox
    id="formEditBillingDifferent"
    class="mb-2"
    [formControl]="orgForm.controls.billingAddressSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">Billing address is same as main address</span>
      <mat-icon
        fontIcon="info"
        matTooltip="Only for administrative purposes - the MDS is free of charge until 2025"
        matTooltipClass="text-sm"
        aria-label="info"></mat-icon>
    </div>
  </mat-checkbox>
</div>

<div
  *ngIf="!orgForm.controls.billingAddressSameAsMain.value"
  class="flex flex-col gap-4">
  <app-text-area
    class="flex-1"
    label="Billing Adddress"
    placeholder="Example Street 10b, 12345 Frankfurt am Main, Germany"
    ctrlId="formEditBillingAddress"
    [ctrl]="orgForm.controls.billingAddress"></app-text-area>
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Description -->
  <app-text-area
    class="flex-1"
    label="Organization Description"
    ctrlId="formEditOrganizationDescription"
    placeholder="What does Your organization do?"
    [ctrl]="orgForm.controls.description"></app-text-area>
</div>

<h3 class="pb-6">Contacts</h3>

<div class="flex flex-col gap-4">
  <!-- Main Contact Form -->
  <div class="flex gap-4 flex-wrap">
    <h3>Main Contact</h3>
    <mat-icon
      fontIcon="info"
      matTooltip="Main Contact is needed for purposes such as use cases, events, membership etc."
      matTooltipClass="text-sm"></mat-icon>
  </div>

  <!-- User's Full Name -->
  <app-text-input
    class="flex-1"
    label="Main Full Name"
    ctrlId="formEditMainName"
    placeholder="John Doe"
    [ctrl]="orgForm.controls.mainContactName"></app-text-input>

  <div class="flex gap-4 flex-wrap">
    <!-- User's PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="Phone Number"
      ctrlId="formEditMainPhoneNumber"
      placeholder="+49 1234 567890"
      [ctrl]="orgForm.controls.mainContactPhoneNumber"></app-text-input>

    <!-- User's PhoneNumber -->

    <!-- User's Email -->
    <app-text-input
      class="flex-1"
      label="Email"
      ctrlId="formEditMainEmail"
      placeholder="john.doe@my-org.com"
      [ctrl]="orgForm.controls.mainContactEmail"></app-text-input>
    <!-- User's Email -->
  </div>
</div>
<!-- Main Contact Form -->

<!-- Technical Contact Form -->
<div class="flex flex-col gap-4">
  <div class="flex gap-4 flex-wrap">
    <h3>Technical Contact</h3>
    <mat-icon
      fontIcon="info"
      matTooltip="A technical contact will get notified in case of IT related topics"
      matTooltipClass="text-sm"></mat-icon>
  </div>
  <mat-checkbox
    id="formEditMcSameAsTc"
    class="mb-2"
    [formControl]="orgForm.controls.technicalContactSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">Same as Main Contact</span>
    </div>
  </mat-checkbox>

  <ng-container *ngIf="!orgForm.controls.technicalContactSameAsMain.value">
    <!-- User's Full Name -->
    <app-text-input
      class="flex-1"
      label="Technical Full Name"
      ctrlId="formEditTechnicalName"
      placeholder="John Doe"
      [ctrl]="orgForm.controls.technicalContactName"></app-text-input>

    <div class="flex gap-4 flex-wrap">
      <!-- User's PhoneNumber -->
      <app-text-input
        class="flex-1"
        label="Phone Number"
        ctrlId="formEditTechnicalPhoneNumber"
        placeholder="+49 1234 567890"
        [ctrl]="orgForm.controls.technicalContactPhoneNumber"></app-text-input>
      <!-- User's PhoneNumber -->

      <!-- User's Email -->
      <app-text-input
        class="flex-1"
        label="Email"
        ctrlId="formEditTechnicalEmail"
        placeholder="john.doe@my-org.com"
        [ctrl]="orgForm.controls.technicalContactEmail"></app-text-input>
      <!-- User's Email -->
    </div>
  </ng-container>
</div>
<!-- Technical Contact Form -->
