<div class="relative h-screen">
  <!-- header -->
  <div
    class="top-0 p-8 bg-color-background flex justify-between items-center cursor-pointer">
    <img
      alt="logo"
      [attr.src]="appConfig.brandLogoOnboardingPage.src"
      [class]="appConfig.brandLogoOnboardingPage.class" />
    <div class="static top-10 right-10">
      <logout-button></logout-button>
    </div>
  </div>
  <!-- header -->

  <!-- registration wizard -->
  <div class="flex justify-center">
    <app-loading-element *ngIf="state.details.isLoading"></app-loading-element>
    <app-error-element
      *ngIf="state.details.isError"
      [errorMessage]="state.details.error.failureMessage"></app-error-element>
    <mat-stepper
      *ngIf="state.details.isReady"
      class="mt-4 w-full lg:w-2/3"
      labelPosition="bottom"
      linear
      #stepper>
      <!-- user profile form -->
      <mat-step
        color="accent"
        [editable]="state.state === 'editing' || state.state === 'error'"
        [completed]="userForm.valid || state.state === 'success'">
        <div class="flex flex-col px-1 md:px-8 w-full">
          <ng-template matStepLabel>User Profile</ng-template>

          <h2 class="wizard-step-title">User Profile</h2>
          <div class="flex-grow my-4">
            <app-user-onboard-form
              [userForm]="userOnboardForm"></app-user-onboard-form>

            <!-- Accept Privacy Policy Checkbox -->
            <app-tos-check
              *ngIf="state.onboardingType === 'USER_ONBOARDING'"
              [ctrl]="userForm.controls.acceptedTos"></app-tos-check>
          </div>

          <div
            class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
            <button
              *ngIf="state.onboardingType === 'USER_ORGANIZATION_ONBOARDING'"
              class="btn-accent"
              matStepperNext
              [disabledBtn]="!userForm.valid">
              Next
            </button>
            <button
              *ngIf="state.onboardingType === 'USER_ONBOARDING'"
              class="btn-accent"
              [disabledBtn]="!userForm.valid || state.state === 'submitting'"
              (click)="submit()">
              Submit
            </button>
          </div>
        </div>
      </mat-step>
      <!-- user profile form -->

      <!-- organization profile form -->
      <mat-step
        *ngIf="state.onboardingType === 'USER_ORGANIZATION_ONBOARDING'"
        color="accent"
        [editable]="state.state === 'editing' || state.state === 'error'"
        [completed]="state.state === 'success'">
        <div class="flex flex-col px-1 md:px-8 w-full">
          <ng-template matStepLabel>Organization Profile</ng-template>

          <h2 class="wizard-step-title">Organization Profile</h2>
          <app-organization-create-form
            class="flex-grow my-4"
            [orgForm]="orgProfileForm"></app-organization-create-form>

          <app-tos-check [ctrl]="orgForm.controls.acceptedTos"></app-tos-check>

          <div
            class="border-t border-gray-900/10 pt-6 mt-6 mb-24 flex items-center justify-end gap-x-6">
            <button class="btn-accent-outline" matStepperPrevious type="button">
              Back
            </button>

            <button
              class="btn-accent"
              [disabledBtn]="
                !userForm.valid ||
                !orgForm.valid ||
                state.state === 'submitting'
              "
              (click)="submit()">
              Submit
            </button>
          </div>
        </div>
      </mat-step>
      <!-- organization profile form -->

      <!-- final step -->
      <mat-step [editable]="false" [stepControl]="parentFormGroup">
        <ng-template matStepLabel>Confirmation</ng-template>
        <div class="my-12 flex flex-col justify-center items-center">
          <h3 class="wizard-end-title text-center">
            {{
              'Thank you for onboarding on the ' + appConfig.portalName + '!'
            }}
          </h3>
          <p class="wizard-end-prose max-w-3xl text-center">
            Congratulations on successfully onboarding to our platform! We're
            thrilled to have you as part of our community. Explore our platform
            and discover services tailored just for you.
          </p>
          <button class="btn-accent" routerLink="/">Finish</button>
        </div>
      </mat-step>
      <!-- final step -->
    </mat-stepper>
  </div>

  <!-- footer -->
  <app-footer-for-full-page></app-footer-for-full-page>
</div>
