<!-- MDS ID -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">label</mat-icon>
    MDS ID
  </div>
  <div class="details-row-value">
    {{ organization.mdsId }}
  </div>
</div>

<!-- Legal Name -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">corporate_fare</mat-icon>
    Legal Name
  </div>
  <div class="details-row-value">
    {{ organization.name }}
  </div>
</div>

<!-- Business Unit -->
<div *ngIf="organization.businessUnit" class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">corporate_fare</mat-icon>
    Business Unit
  </div>
  <div class="details-row-value">
    {{ organization.businessUnit }}
  </div>
</div>

<!-- Industry -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">settings</mat-icon>
    Industry
  </div>
  <div class="details-row-value">
    {{ organization.industry }}
  </div>
</div>

<!-- Website -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">link</mat-icon>
    Website
  </div>
  <div class="details-row-value">
    <a
      target="_blank"
      rel="noopener noreferrer"
      [attr.href]="organization.url"
      >{{ organization.url }}</a
    >
  </div>
</div>

<!-- Description -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">notes</mat-icon>
    Description
  </div>
  <div class="details-row-value">
    {{ organization.description }}
  </div>
</div>

<!-- Main Address -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">home</mat-icon>
    Main Address
  </div>
  <div class="details-row-value">
    {{ organization.mainAddress }}
  </div>
</div>

<!-- Billing Address -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">home</mat-icon>
    Billing Address
  </div>
  <div class="details-row-value">
    {{ organization.billingAddress }}
  </div>
</div>

<!-- Tax ID -->
<div *ngIf="organization.legalIdType === 'TAX_ID'" class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">gavel</mat-icon>
    Tax ID
  </div>
  <div class="details-row-value">
    {{ organization.legalId }}
  </div>
</div>

<!-- Commerce Register Info -->
<div
  *ngIf="organization.legalIdType === 'COMMERCE_REGISTER_INFO'"
  class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">account_balance</mat-icon>
    Commerce Register Number
  </div>
  <div class="details-row-value">
    {{ organization.legalId }}, registered in
    {{ organization.commerceRegisterLocation }}
  </div>
</div>

<!-- Main Contact -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">link</mat-icon>
    Main Contact
  </div>
  <div class="details-row-value">
    <p>{{ organization.mainContactName }}</p>
    <p>{{ organization.mainContactEmail }}</p>
    <p>{{ organization.mainContactPhone }}</p>
  </div>
</div>

<!-- Technical Contact -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">link</mat-icon>
    Technical Contact
  </div>
  <div class="details-row-value">
    <p>{{ organization.techContactName }}</p>
    <p>{{ organization.techContactEmail }}</p>
    <p>{{ organization.techContactPhone }}</p>
  </div>
</div>

<!-- Created By -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined" svgIcon="account-circle">
    </mat-icon>
    Created By
  </div>
  <div class="details-row-value">
    {{ organization.createdByFirstName }}
    {{ organization.createdByLastName }}
  </div>
</div>

<!-- Onboarding Since -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">mail_lock</mat-icon>
    Onboarded Since
  </div>
  <div class="details-row-value">
    {{ organization.createdAt | date : 'medium' }}
  </div>
</div>
