<ng-container *ngIf="breadcrumb">
  <nav
    *ngFor="let step of breadcrumb; let i = index; let isLast = last"
    class="bg-grey-light">
    <ol class="list-reset inline-flex items-center">
      <li>
        <span
          *ngIf="step.link !== 'dashboard'"
          class="text-sm"
          [routerLink]="step.isLinkable && !isLast ? getLink(i) : null"
          [ngClass]="{
            'font-bold': isLast,
            'cursor-pointer transition duration-150 ease-in-out hover:text-brand-500 focus:text-brand-500 active:text-brand-500':
              step.isLinkable && !isLast,
          }">
          {{ step.label }}
        </span>
      </li>
      <li *ngIf="!isLast">
        <svg
          class="w-3 h-3 text-gray-400 mx-2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 -4 10 14"
          aria-hidden="true">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
      </li>
    </ol>
  </nav>
</ng-container>
