<section class="my-4 px-8 flex flex-col">
  <app-loading-element *ngIf="state.user.isLoading"></app-loading-element>

  <app-error-element
    *ngIf="state.user.isError"
    [errorMessage]="state.user.error.failureMessage"></app-error-element>

  <app-header
    *ngIf="state.headerBarConfig"
    [headerConfig]="state.headerBarConfig"></app-header>

  <app-shared-user-detail
    *ngIf="state.userDetailConfig"
    class="flex w-full lg:w-10/12 gap-4 justify-between"
    [config]="state.userDetailConfig"></app-shared-user-detail>
</section>
