<div
  class="flex flex-col md:flex-row flex-start md:justify-between px-2 py-2 md:px-8 gap-4 md:gap-0 items-center relative bg-[#fcfcfc]">
  <div class="absolute inset-x-0 top-0 h-1/2 bg-gray-100 z-0"></div>
  <div class="flex gap-1 z-10 flex-wrap justify-center items-center">
    <mat-icon class="larger-icon" [svgIcon]="titleBarConfig.icon"></mat-icon>
    <h2 class="text-black font-semibold text-2xl overflow-hidden px-2">
      {{ titleBarConfig.title }}
    </h2>
    <span class="status" [ngClass]="titleBarConfig.statusStyle">{{
      titleBarConfig.status
    }}</span>
  </div>

  <div class="flex gap-2 z-10">
    <button
      *ngFor="let tab of titleBarConfig.tabs"
      class="w-16 button flex items-center justify-center gap-2 bg-black text-white rounded-full px-2 py-1 text-sm hover:bg-brand-golden"
      [ngClass]="{
        'bg-brand-golden': selectedTab === tab.view && !tab.isDisabled,
        'disabled:bg-gray-700': tab.isDisabled,

      }"
      [disabled]="tab.isDisabled"
      (click)="tabChanged(tab.view)">
      <mat-icon class="smaller-icon material-icons-outlined text-base">{{
        tab.icon
      }}</mat-icon>
      <span *ngIf="tab?.value !== undefined">{{ tab.value }}</span>
    </button>

    <button
      *ngIf="titleBarConfig?.actionMenu && !isAllDisabled(titleBarConfig)"
      class="w-16 button flex items-center justify-center gap-2 bg-black text-white rounded-full px-2 py-1 text-sm hover:bg-brand-golden disabled:bg-gray-300"
      [matMenuTriggerFor]="menu">
      <mat-icon class="smaller-icon material-icons-outlined">
        more_horiz
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container
        *ngFor="let menuItem of titleBarConfig?.actionMenu?.menuOptions">
        <button
          *ngIf="!menuItem.isDisabled"
          mat-menu-item
          (click)="menuActionPressed(menuItem)">
          <mat-icon class="material-icons-outlined">
            {{ menuItem.icon }}
          </mat-icon>
          {{ menuItem.label }}
        </button>
      </ng-container>
    </mat-menu>
  </div>
</div>
