<mat-toolbar class="bg-white border-b border-gray-100">
  <div class="flex flex-row w-full items-center">
    <app-breadcrumb
      class="flex flex-row justify-start align-center p-3 ml-3"></app-breadcrumb>
    <app-env-switcher class="ml-auto"></app-env-switcher>
  </div>

  <span class="flex flex-1"></span>
  <button
    class="mx-4"
    mat-icon-button
    aria-label="Example icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>

  <app-user-avatar
    class="flex h-full items-center border-l border-gray-100"
    [userData]="userAvatarData"
    [logoutUrl]="config.logoutUrl">
  </app-user-avatar>
</mat-toolbar>
