<!-- full name -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">badge</mat-icon>
    Name
  </div>
  <div class="details-row-value">
    {{ config.user.firstName }} {{ config.user.lastName }}
  </div>
</div>

<!-- organization name -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">corporate_fare</mat-icon>
    Organization
  </div>
  <div class="details-row-value">
    {{ config.user.organizationName }}, {{ config.user.organizationId }}
  </div>
</div>

<!-- company position -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">person</mat-icon>
    Position
  </div>
  <div class="details-row-value">
    {{ config.user.position }}
  </div>
</div>

<!-- portal role -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">admin_panel_settings</mat-icon>
    Portal Role
  </div>
  <div class="details-row-value">
    <div *ngIf="!roleFormToggled" class="flex justify-between">
      <div>
        <span>{{ config.roles.readableRolesAsString }} </span>
      </div>
      <mat-icon
        *ngIf="config.roles.canEdit"
        class="text-gray-700 cursor-pointer hover:text-brand-golden"
        (click)="onRoleEditShowClick()"
        >edit</mat-icon
      >
    </div>
    <ng-container *ngIf="roleFormToggled">
      <div *ngIf="config.roles.canChangeApplicationRole" class="px-4">
        <div class="flex flex-row justify-start items-start w-full">
          <label>Choose an Application Role</label>
          <app-application-roles-tooltip></app-application-roles-tooltip>
        </div>
        <mat-form-field class="w-full" appearance="outline">
          <mat-select placeholder="None" [formControl]="applicationRoleCtrl">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let role of config.roles.availableApplicationRoles"
              [value]="role">
              {{ mapRolesToReadableFormat(role) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="px-4">
        <div class="flex flex-row justify-start items-start w-full">
          <label>Choose an Organization Role</label>
          <app-organization-roles-tooltip></app-organization-roles-tooltip>
        </div>
        <mat-form-field class="w-full" appearance="outline">
          <mat-select [formControl]="participantRoleCtrl">
            <mat-option
              *ngFor="let role of config.roles.availableParticipantRoles"
              [value]="role">
              {{ mapRolesToReadableFormat(role) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <!-- actions -->
    <div *ngIf="roleFormToggled" class="py-3 px-1 flex">
      <div class="flex w-full justify-end gap-4">
        <button
          class="btn-accent-outline"
          type="button"
          [disabledBtn]="roleEditBusy"
          (click)="onRoleEditCancel()">
          Cancel
        </button>
        <button
          class="btn-accent"
          [disabledBtn]="
            (!applicationRoleCtrl.dirty && !participantRoleCtrl.dirty) ||
            roleEditBusy
          "
          (click)="onRoleEditSubmitClick()">
          Save
        </button>
      </div>
    </div>
    <!-- actions -->
  </div>
</div>

<!-- user email -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">mail</mat-icon>
    Email
  </div>
  <div class="details-row-value">
    {{ config.user.email }}
  </div>
</div>

<!-- user phone -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">phone_iphone</mat-icon>
    Phone
  </div>
  <div class="details-row-value">
    {{ config.user.phone }}
  </div>
</div>

<!-- invited by -->
<div *ngIf="config.user.invitingUserId" class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">person </mat-icon>
    Invited By
  </div>
  <div class="details-row-value">
    {{ config.user.invitingUserFirstName ?? '' }}
    {{ config.user.invitingUserLastName ?? '' }}
  </div>
</div>

<!-- onboard type -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">sell</mat-icon>
    Onboarding Type
  </div>
  <div class="details-row-value">
    {{ onboardingType(config.user.onboardingType) }}
  </div>
</div>

<!-- onboarded since -->
<div class="details-row">
  <div class="details-row-key">
    <mat-icon class="material-icons-outlined">calendar_month</mat-icon>
    Onboarded Since
  </div>
  <div class="details-row-value">
    {{ config.user.creationDate | date : 'mediumDate' }}
  </div>
</div>
