<div
  class="flex flex-col h-screen justify-center items-center max-w-4xl mx-auto">
  <h1 class="text-2xl font-semibold">Request a Connector-as-a-Service</h1>
  <p>
    As an MDS member, you have the option to request 1 free CaaS per
    environment.
  </p>
  <div class="h-3"></div>
  <form class="flex flex-col w-full justify-center">
    <div
      class="select-none flex flex-col justify-center items-center my-10 gap-y-4">
      <!-- Connector Title -->
      <app-text-input
        class="w-full"
        ctrlId="titleInput"
        label="Connector Title"
        placeholder="My Connector"
        [ctrl]="requestConnectorPageForm.connectorTitle">
      </app-text-input>

      <!-- Subdomain -->
      <app-text-input
        class="w-full"
        ctrlId="subdomainInput"
        label="Connector Subdomain"
        placeholder="pallene-123456"
        invalidPatternMessage="Not a valid subdomain. Use only latin characters, numbers and dashes."
        [ctrl]="requestConnectorPageForm.connectorSubdomain"></app-text-input>

      <!-- Description -->
      <div class="flex flex-col justify-between items-center w-full">
        <label class="w-full mb-2 text-sm" for="descriptionInput"
          >Description</label
        >
        <mat-form-field
          class="w-full text-sm"
          appearance="outline"
          color="accent">
          <textarea
            id="descriptionInput"
            class="!h-28"
            matInput
            placeholder="This connector is used to..."
            [formControl]="
              requestConnectorPageForm.connectorDescription
            "></textarea>
          <mat-error
            class="text-sm"
            appFormControlError
            fieldName="Description"
            [control]="
              requestConnectorPageForm.connectorDescription
            "></mat-error>
        </mat-form-field>
      </div>
      <!-- Description End -->
    </div>

    <div class="flex items-center justify-end gap-x-6">
      <button class="btn-accent-outline" type="button" [routerLink]="exitLink">
        Cancel
      </button>

      <button
        class="btn-accent"
        [disabledBtn]="state.state === 'submitting' || !form.formGroup.valid"
        (click)="requestCaas()">
        {{ createActionName }}
      </button>
    </div>
  </form>
</div>
