<div
  class="flex flex-col h-screen justify-center items-center max-w-4xl mx-auto">
  <h1 class="selection-page-title">Request a Connector-as-a-Service</h1>
  <p class="selection-page-prose">
    As an MDS member, you have the option to request 1 free CaaS per
    environment.
  </p>
  <div class="h-3"></div>
  <form class="flex flex-col w-full justify-center">
    <div
      class="select-none flex flex-col justify-center items-center my-10 gap-y-4">
      <!-- Connector Title -->
      <app-text-input
        class="w-full"
        ctrlId="titleInput"
        label="Connector Title"
        placeholder="My Connector"
        [ctrl]="requestConnectorPageForm.connectorTitle">
      </app-text-input>

      <!-- Subdomain -->
      <app-text-input
        class="w-full"
        ctrlId="subdomainInput"
        label="Connector Subdomain"
        placeholder="pallene-123456"
        invalidPatternMessage="Not a valid subdomain. Only lowercase latin characters, numbers and dashes."
        [ctrl]="requestConnectorPageForm.connectorSubdomain"></app-text-input>

      <!-- Description -->
      <app-text-area
        class="w-full"
        ctrlId="descriptionInput"
        label="Description"
        placeholder="This connector is used to..."
        [ctrl]="requestConnectorPageForm.connectorDescription"></app-text-area>
    </div>

    <div class="flex items-center justify-end gap-x-6">
      <a class="btn-accent-outline" type="button" [routerLink]="backLink">
        Back
      </a>

      <button
        class="btn-accent"
        [disabledBtn]="state.state === 'submitting' || !form.formGroup.valid"
        (click)="requestCaas()">
        {{ createActionName }}
      </button>
    </div>
  </form>

  <!-- footer -->
  <app-footer-for-full-page></app-footer-for-full-page>
</div>
