<div
  class="container mx-auto h-screen flex flex-col justify-center items-center">
  <div class="fixed top-10 right-10">
    <logout-button></logout-button>
  </div>
  <img
    alt="logo"
    [attr.src]="appConfig.brandLogoUnauthenticatedPage.src"
    [class]="appConfig.brandLogoUnauthenticatedPage.class" />
  <div class="max-w-2xl mx-auto text-center">
    <h1 class="full-screen-end-title">Thank you for signing up!</h1>
    <p class="full-screen-end-prose">
      Our team has thoroughly reviewed your profile, but
      <b>unfortunately, we are currently unable to grant you access</b> to the
      Portal. Please note that access to the {{ appConfig.portalName }} is
      exclusive to
      {{ appConfig.brandDataspaceName }}
      members.
    </p>
  </div>
</div>
<!-- footer -->

<app-footer-for-full-page></app-footer-for-full-page>
