<div
  class="container mx-auto h-screen flex flex-col justify-center items-center">
  <div class="fixed top-10 right-10">
    <logout-button></logout-button>
  </div>
  <img
    alt="logo"
    [attr.src]="appConfig.brandLogoUnauthenticatedPage.src"
    [class]="appConfig.brandLogoUnauthenticatedPage.class" />
  <div *ngIf="'mds-id' | isActiveFeature" class="max-w-2xl mx-auto text-center">
    <h1 class="full-screen-end-title">
      Thank you for signing up to be a part of the Mobility Data Space Portal!
    </h1>
    <p class="full-screen-end-prose">
      Our community team has thoroughly reviewed your profile, but
      <b>unfortunately, we are currently unable to grant you access</b> to the
      MDS Portal. Please note that access to the MDS Portal is exclusive to MDS
      members. For further information, please reach out to our community team
      at
      <a href="mailto:community@mobility-dataspace.eu"
        >community@mobility-dataspace.eu</a
      >.
    </p>

    <div class="flex justify-center">
      <a
        class="bg-black hover:bg-black text-white font-bold py-2 px-4 rounded"
        href="https://mobility-dataspace.eu/"
        >MDS Main Page</a
      >
    </div>
  </div>
  <div
    *ngIf="!('mds-id' | isActiveFeature)"
    class="max-w-2xl mx-auto text-center">
    <h1 class="full-screen-end-title">Thank you for signing up!</h1>
    <p class="full-screen-end-prose">
      Our team has thoroughly reviewed your profile, but
      <b>unfortunately, we are currently unable to grant you access</b> to the
      Portal. Please note that access to the {{ appConfig.portalName }} is
      exclusive to
      {{ appConfig.brandDataspaceName }}
      members.
    </p>
  </div>
</div>
<!-- footer -->

<app-footer-for-full-page></app-footer-for-full-page>
