<div
  class="container mx-auto h-screen flex flex-col justify-center items-center">
  <div class="fixed right-20 top-20">
    <a
      class="py-2 px-4 rounded-md bg-white text-black border-gray-700 border font-bold flex items-center gap-1 text-sm active:scale-[0.99]"
      [href]="config.logoutUrl"
      ><mat-icon class="!text-[18px] !w-[18px] !h-[18px]">logout</mat-icon> Log
      Out</a
    >
  </div>
  <svg
    class=""
    width="120"
    height="120"
    stroke="currentColor"
    fill="currentColor"
    viewBox="0 0 108 108"
    xmlns="http://www.w3.org/2000/svg">
    <path
      xmlns="http://www.w3.org/2000/svg"
      stroke-width="2"
      d="M98,41.83h0L73.84,0H24.61L0,42.59,24.61,85.18H73.84L98,43.35h0l.44-.76ZM24,78,4.39,44.1H24Zm0-36.93H4.4L24,7.19ZM70.32,3,60.51,20,31.17,3ZM27,4.15,59,22.59,48.26,41.06H27ZM51.78,41.06l9.84-17L91,41.06ZM91,44.1l-29.41,17-9.85-17Zm-64,0H48.26L59,62.59,27,81Zm33.5,21.12,9.81,16.92H31.17ZM73,80.62,63.14,63.7l29.4-17ZM63.14,21.48,73,4.55,92.54,38.44Z" />
  </svg>
  <div class="max-w-2xl mx-auto text-center">
    <h1 class="full-screen-end-title">
      Thank you for signing up to be a part of the Mobility Data Space Portal!
    </h1>
    <p class="full-screen-end-prose">
      Our community team has thoroughly reviewed your profile, but
      <b>unfortunately, we are currently unable to grant you access</b> to the
      MDS Portal. Please note that access to the MDS Portal is exclusive to MDS
      members. For further information, please reach out to our community team
      at
      <a href="mailto:community@mobility-dataspace.eu"
        >community@mobility-dataspace.eu</a
      >.
    </p>

    <div class="flex justify-between">
      <a
        class="bg-black hover:bg-black text-white font-bold py-2 px-4 rounded"
        href="https://mobility-dataspace.eu/"
        >MDS Main Page</a
      >
      <a
        class="bg-black hover:bg-black text-white font-bold py-2 px-4 rounded"
        href="https://mobility-dataspace.eu/community"
        >MDS Community</a
      >
      <a
        class="bg-black hover:bg-black text-white font-bold py-2 px-4 rounded"
        href="https://mobility-dataspace.eu/events"
        >MDS Events</a
      >
    </div>
    <footer class="fixed left-10 bottom-5 text-sm text-gray-700">
      <app-footer-links></app-footer-links>
    </footer>
  </div>
</div>
