<section
  class="my-4 px-8"
  [ngClass]="{
    'flex h-96 justify-center items-center': state.organization.isLoading
  }">
  <app-loading-element
    *ngIf="state.organization.isLoading"></app-loading-element>

  <app-error-element
    *ngIf="state.organization.isError"
    errorMessage="organization"></app-error-element>

  <ng-container *ngIf="state.organization.isReady">
    <app-header [headerConfig]="headerConfig"></app-header>

    <app-shared-organization-detail
      class="flex w-full lg:w-10/12 gap-4 justify-between"
      [organization]="state.organization.data"></app-shared-organization-detail>
  </ng-container>
</section>
