<div class="w-full">
  <form>
    <mat-form-field class="w-full">
      <mat-label>Choose a Application Role</mat-label>
      <mat-chip-grid
        #chipGrid
        aria-label="Enter keywords"
        [formControl]="roleForm">
        <mat-chip-row
          *ngFor="let role of selectedRoles"
          (removed)="remove(role)">
          {{ mapToReadable(role) }}
          <button matChipRemove [attr.aria-label]="'remove ' + role">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        #roleInput
        [formControl]="rolesCtrl"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)">
        <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
          {{ mapToReadable(role) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
