<div
  class="relative flex flex-col min-h-screen justify-center items-center py-4 sm:py-8">
  <div class="absolute sm:top-7 sm:left-7 left-1 top-1">
    <button mat-icon-button routerLink="/my-organization/connectors/new">
      <mat-icon class="z-50 text-gray-600">arrow_back</mat-icon>
    </button>
  </div>
  <div class="absolute sm:top-7 sm:right-7 right-1 top-1">
    <button mat-icon-button routerLink="/my-organization/connectors">
      <mat-icon class="z-50 text-gray-600">close</mat-icon>
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center flex-auto w-full text-center px-4 lg:px-0">
    <h2 class="selection-page-title max-w-xl mx-auto">
      Request a Connector-as-a-Service
    </h2>
    <p class="selection-page-prose">
      As {{ inferArticle(this.config.brandDataspaceName) }}
      {{ this.config.brandDataspaceName }} member, you have the option to
      request {{ this.sponsoredCaasAmount }} free CaaS per environment.
    </p>
    <div class="flex gap-4 flex-row mt-8 justify-evenly w-full">
      <app-selection-box
        [selectionBoxConfig]="selectionBox"></app-selection-box>
    </div>
  </div>
  <!-- footer -->
  <app-footer-for-full-page class="w-full"></app-footer-for-full-page>
</div>
