<div
  class="group w-full cursor-pointer flex flex-col items-center border border-black py-8 px-6 rounded-lg transition ease-in-out delay-150 hover:border-brand-500 hover:-translate-y-1 h-full justify-between"
  (click)="onAction()">
  <div class="flex flex-col items-center">
    <img
      *ngIf="config?.icon"
      [src]="'assets/images/' + config.icon"
      [alt]="config.title" />
    <h3 class="group-hover:text-brand-500 transition delay-150">
      {{ config.title }}
    </h3>
    <p>{{ config.subTitle }}</p>
  </div>

  <ul
    *ngIf="config?.bulletPoints"
    class="w-full my-8 space-y-3 text-sm leading-6 xl:mt-10 text-gray-600"
    role="list">
    <li
      *ngFor="let bullet of config.bulletPoints"
      class="flex gap-x-3 text-left">
      <mat-icon svgIcon="checkbox"></mat-icon>
      {{ bullet }}
    </li>
  </ul>

  <button
    *ngIf="config?.action?.label"
    class="btn-accent my-4"
    type="button"
    (click)="onAction()">
    {{ config.action?.label }}
  </button>
</div>
