<!-- Footer container -->
<footer
  class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
  <div
    class="flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-neutral-500 lg:justify-between">
    <div class="mr-12 font-semibold">
      <span>Folgen Sie uns auf allen Kanälen:</span>
    </div>
    <!-- Social network icons container -->

    <!-- Facebook -->
    <div class="flex justify-center mr-8">
      <a
        class="mr-6 text-neutral-600 dark:text-neutral-200"
        href="https://twitter.com/mobilityDS">
        <svg
          class="h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
        </svg>
      </a>

      <a
        class="mr-6 text-neutral-600 dark:text-neutral-200"
        href="https://www.linkedin.com/company/mobilitydataspace/">
        <svg
          class="h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
        </svg>
      </a>
      <a
        class="text-neutral-600 dark:text-neutral-200"
        href="https://www.youtube.com/channel/UC8OE6zEwWFD8QkHWszoJz0Q">
        <svg
          class="h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -10 30 30"
          xml:space="preserve"
          fill="#111">
          <path
            d="M2.067,0.043C2.21-0.028,2.372-0.008,2.493,0.085l13.312,8.503c0.094,0.078,0.154,0.191,0.154,0.313
			c0,0.12-0.061,0.237-0.154,0.314L2.492,17.717c-0.07,0.057-0.162,0.087-0.25,0.087l-0.176-0.04
			c-0.136-0.065-0.222-0.207-0.222-0.361V0.402C1.844,0.25,1.93,0.107,2.067,0.043z" />
        </svg>
      </a>
    </div>
  </div>

  <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4 ml-6 mt-3">
      <!-- Tailwind Elements section -->
      <div class="">
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Sitemap
        </h6>
        <p class="mb-4">
          <a class="text-neutral-600 dark:text-neutral-200" href="/"
            >Startseite</a
          >
        </p>
        <p class="mb-4">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/mobility-data-space"
            >Mobility Data Space</a
          >
        </p>
        <p class="mb-4">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/events"
            >Events</a
          >
        </p>
        <p>
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/presse-medien"
            >Presse & Medien</a
          >
        </p>
      </div>
      <!-- Quicklinks section -->
      <div class="">
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Quicklinks
        </h6>
        <p class="mb-4">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de#:~:text=Quicklinks-,Datenkatalog,-Karriere%0ABusiness%20Cases"
            >Datenkatalog</a
          >
        </p>
        <p class="mb-4">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de#:~:text=Datenkatalog-,Karriere,-Business%20Cases%0ACommunity"
            >Karriere</a
          >
        </p>
        <p class="mb-4">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/business-cases"
            >Business Cases</a
          >
        </p>
        <p>
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/community"
            >Community</a
          >
        </p>
      </div>
      <!-- Useful links section -->
      <div class="">
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Newsletter
        </h6>
        <p class="mb-4">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/newsletter"
            >Jetzt anmelden</a
          >
        </p>

        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/impressum"
            >Impressum</a
          >
        </h6>
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/datenschutz">
            Datenschutz</a
          >
        </h6>
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          <a
            class="text-neutral-600 dark:text-neutral-200"
            href="https://mobility-dataspace.eu/de/kontakt"
            >Kontakt</a
          >
        </h6>
      </div>
      <!-- Contact section -->
      <div>
        <img
          src="https://mobility-dataspace.eu/fileadmin/global/footer_bmdv_230.svg" />
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
    <span>© 2023 Copyright:</span>
    <a
      class="font-semibold ml-2 text-neutral-600 dark:text-neutral-400"
      href="https://mobility-dataspace.eu/de"
      >Mobility Data Space</a
    >
  </div>
</footer>
