<div
  class="container mx-auto h-screen flex flex-col justify-center items-center">
  <div class="fixed top-10 right-10">
    <logout-button></logout-button>
  </div>
  <img
    alt="Logo"
    [attr.src]="appConfig.brandLogoUnauthenticatedPage.src"
    [class]="appConfig.brandLogoUnauthenticatedPage.class" />
  <div class="max-w-2xl mx-auto text-center">
    <h1 class="full-screen-end-title">Thank you for signing up!</h1>
    <p class="full-screen-end-prose">
      Our team will review your profile and confirm your access
      <b>as soon as possible</b>. You will receive a confirmation email with a
      link to the portal where you can sign in using your credentials.
    </p>
  </div>
</div>
<!-- footer -->
<app-footer-for-full-page></app-footer-for-full-page>
