<form [formGroup]="filterForm">
  <div class="bg-white py-5">
    <div
      class="-ml-4 -mt-4 flex flex-wrap justify-between items-center justify between sm:flex-nowrap">
      <div class="ml-4 mt-4 flex flex-shrink-0 gap-4">
        <!-- filters -->
        <div *ngFor="let filter of filterBarConfig.filters" class="relative">
          <button
            class="btn-dropdown-menu"
            type="button"
            [matMenuTriggerFor]="menu"
            [id]="filter.id"
            [disabled]="filter.options.length === 0">
            <mat-icon
              *ngIf="filter.icon"
              class="hover:text-brand-highlight"
              [svgIcon]="filter.icon"></mat-icon>

            <span>{{ filter.label }}</span>
            <mat-icon svgIcon="chevron-down"></mat-icon>
          </button>
          <mat-menu
            id="filter-menu"
            class="absolute min-w-min whitespace-nowrap bg-white border border-gray-300 py-2 pl-1 pr-2 shadow-lg mt-2"
            #menu="matMenu">
            <p class="text-gray-500 text-xs ml-3 mb-2 mx-4">
              Filter by {{ filter.label }}
            </p>
            <ng-container [formGroup]="getFilterForm(filter.id)">
              <p
                *ngFor="let option of filter.options"
                class="mr-4"
                (click)="$event.stopPropagation()">
                <mat-checkbox [formControlName]="option.id">{{
                  option.label | sentenceCase
                }}</mat-checkbox>
              </p>
            </ng-container>
          </mat-menu>
        </div>
      </div>
      <div class="ml-4 mt-4 flex"></div>
    </div>
  </div>
</form>
