<div class="flex gap-4 flex-wrap">
  <!-- Legal Name -->
  <app-text-input
    class="flex-1"
    label="Organization Legal Name"
    ctrlId="formRegLegalName"
    placeholder="Enter Your organization Legal name"
    [ctrl]="orgForm.controls.legalName"></app-text-input>

  <!-- Legal Name -->
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Website -->
  <app-text-input
    class="flex-1"
    label="Website"
    ctrlId="formRegWebsite"
    placeholder="Enter Your organization website url"
    [ctrl]="orgForm.controls.website"></app-text-input>
  <!-- Website -->
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Business Unit -->
  <app-text-input
    class="flex-1"
    label="Business Unit"
    ctrlId="formRegBusinessUnit"
    placeholder="Enter Your organization Business Unit"
    [ctrl]="orgForm.controls.businessUnit"></app-text-input>
  <!-- Business Unit -->
</div>

<div class="flex flex-col">
  <div class="flex gap-4 flex-wrap">
    <!-- Street -->
    <app-text-input
      class="flex-1"
      label="Street"
      ctrlId="formRegStreet"
      placeholder="Your organization street address"
      [ctrl]="orgForm.controls.mainAddressStreet"></app-text-input>
    <!-- Street -->

    <!-- House No -->
    <app-text-input
      class="flex-1"
      label="House No."
      ctrlId="formRegHouseNo"
      placeholder="Your organization House Number"
      [ctrl]="orgForm.controls.mainAddressHouseNo"></app-text-input>
    <!-- House No -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- ZIP Code -->
    <app-text-input
      class="flex-1"
      label="ZIP code"
      ctrlId="formRegZipCode"
      placeholder="Your organization ZIP code"
      [ctrl]="orgForm.controls.mainAddressZipCode"></app-text-input>
    <!-- ZIP Code -->

    <!-- City  -->
    <app-text-input
      class="flex-1"
      label="City"
      ctrlId="formRegCity"
      placeholder="Your organization city"
      [ctrl]="orgForm.controls.mainAddressCity"></app-text-input>
    <!-- City  -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- Country  -->
    <app-text-input
      class="flex-1"
      label="Country"
      ctrlId="formRegCountry"
      placeholder="Your organization Country"
      [ctrl]="orgForm.controls.mainAddressCountry"></app-text-input>
    <!-- Country  -->
  </div>

  <mat-checkbox
    id="formRegBillingDifferent"
    class="mb-2"
    [formControl]="orgForm.controls.billingAddressSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">Billing address is same as main address</span>
      <mat-icon
        fontIcon="info"
        matTooltip="Only for administrative purposes - the MDS is free of charge until 2024"
        matTooltipClass="text-sm"
        aria-label="info"></mat-icon>
    </div>
  </mat-checkbox>
</div>

<div
  *ngIf="!orgForm.controls.billingAddressSameAsMain.value"
  class="flex flex-col gap-4">
  <div class="flex gap-4 flex-wrap">
    <!-- Street -->
    <app-text-input
      class="flex-1"
      label="Street"
      ctrlId="formRegBillingStreet"
      placeholder="Your organization street address"
      [ctrl]="orgForm.controls.billingAddressStreet"></app-text-input>
    <!-- Street -->

    <!-- House No -->
    <app-text-input
      class="flex-1"
      label="House No."
      ctrlId="formRegBillingHouseNo"
      placeholder="Your organization House Number"
      [ctrl]="orgForm.controls.billingAddressHouseNo"></app-text-input>
    <!-- House No -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- ZIP Code -->
    <app-text-input
      class="flex-1"
      label="ZIP code"
      ctrlId="formRegBillingZipCode"
      placeholder="Your organization ZIP code"
      [ctrl]="orgForm.controls.billingAddressZipCode"></app-text-input>
    <!-- ZIP Code -->

    <!-- City  -->
    <app-text-input
      class="flex-1"
      label="City"
      ctrlId="formRegBillingCity"
      placeholder="Your organization city"
      [ctrl]="orgForm.controls.billingAddressCity"></app-text-input>
    <!-- City  -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- Country  -->
    <app-text-input
      class="flex-1"
      label="Country"
      ctrlId="formRegBillingCountry"
      placeholder="Your organization Country"
      [ctrl]="orgForm.controls.billingAddressCountry"></app-text-input>
    <!-- Country  -->
  </div>
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Description -->
  <div class="flex flex-col flex-1">
    <label class="w-full mb-2 text-sm">Organization Description</label>
    <mat-form-field class="w-full text-sm" appearance="outline" color="accent">
      <textarea
        id="organizationDescription"
        matInput
        placeholder="What does Your organization do?"
        [formControl]="orgForm.controls.description"></textarea>
      <mat-error
        class="text-sm"
        appFormControlError
        fieldName="Organization description"
        [control]="orgForm.controls.description"></mat-error>
    </mat-form-field>
  </div>
  <!-- Description -->
</div>

<div class="flex flex-col gap-1">
  <div class="flex gap-4 flex-wrap mt-2">
    <!-- ID Type -->
    <div class="flex flex-col flex-1">
      <label class="w-full mb-2 text-sm">Legal ID Type</label>
      <mat-form-field appearance="outline">
        <mat-select [formControl]="orgForm.controls.legalIdType">
          <mat-option *ngFor="let type of idTypes" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ID Type -->

    <!-- ID Number -->
    <app-text-input
      class="flex-1"
      label="Legal ID Number"
      ctrlId="formRegIdNumber"
      placeholder="Enter your organization legal ID number"
      [ctrl]="orgForm.controls.legalId"></app-text-input>
    <!-- ID Number -->

    <!-- Commercial Register Location< -->
    <app-text-input
      *ngIf="orgForm.controls.legalIdType.value === 'COMMERCE_REGISTER_INFO'"
      class="flex-1"
      label="Commercial Register Location"
      ctrlId="formRegCommerceRegisterLocation"
      placeholder="Enter your organization Commercial Register Location number"
      [ctrl]="orgForm.controls.commerceRegisterLocation"></app-text-input>
  </div>
  <!-- Commercial Register Location< -->
  <div class="flex flex-col flex-1"></div>
</div>

<h3 class="pb-6">Contacts</h3>

<div class="flex flex-col gap-4">
  <!-- Main Contact Form -->
  <div class="flex gap-4 flex-wrap">
    <h3>Main Contact</h3>
    <mat-icon
      fontIcon="info"
      matTooltip="Main Contact is needed for purposes such as use cases, events, membership etc."
      matTooltipClass="text-sm"></mat-icon>
  </div>
  <div class="flex gap-4 flex-wrap">
    <!-- User's First Name -->
    <app-text-input
      class="flex-1"
      label="Main First Name"
      ctrlId="formRegMainFirstName"
      placeholder="Enter main contact person first name"
      [ctrl]="orgForm.controls.mainContactFirstName"></app-text-input>
    <!-- User's First Name -->

    <!-- User's Last Name -->
    <app-text-input
      class="flex-1"
      label="Main Last Name"
      ctrlId="formRegMainLastName"
      placeholder="Enter main contact person last name"
      [ctrl]="orgForm.controls.mainContactLastName"></app-text-input>
    <!-- User's Last Name -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- User's PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="Phone Number"
      ctrlId="formRegMainPhoneNumber"
      placeholder="Enter main contact person Phone number"
      [ctrl]="orgForm.controls.mainContactPhoneNumber"></app-text-input>

    <!-- User's PhoneNumber -->

    <!-- User's Email -->
    <app-text-input
      class="flex-1"
      label="Email"
      ctrlId="formRegMainEmail"
      placeholder="Enter main contact person email"
      [ctrl]="orgForm.controls.mainContactEmail"></app-text-input>
    <!-- User's Email -->
  </div>
</div>
<!-- Main Contact Form -->

<!-- Technical Contact Form -->
<div class="flex flex-col gap-4">
  <div class="flex gap-4 flex-wrap">
    <h3>Technical Contact</h3>
    <mat-icon
      fontIcon="info"
      matTooltip="A technical contact will get notified in case of IT related topics"
      matTooltipClass="text-sm"></mat-icon>
  </div>
  <mat-checkbox
    id="formRegMcSameAsTc"
    class="mb-2"
    [formControl]="orgForm.controls.technicalContactSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">Same as Main Contact</span>
    </div>
  </mat-checkbox>

  <ng-container *ngIf="!orgForm.controls.technicalContactSameAsMain">
    <div class="flex gap-4 flex-wrap">
      <!-- User's First Name -->
      <app-text-input
        class="flex-1"
        label="Technical First Name"
        ctrlId="formRegTechnicalFirstName"
        placeholder="Enter technical contact person first name"
        [ctrl]="orgForm.controls.technicalContactFirstName"></app-text-input>
      <!-- User's First Name -->

      <!-- User's Last Name -->
      <app-text-input
        class="flex-1"
        label="Technical Last Name"
        ctrlId="formRegTechnicalLastName"
        placeholder="Enter technical contact person last name"
        [ctrl]="orgForm.controls.technicalContactLastName"></app-text-input>
      <!-- User's Last Name -->
    </div>

    <div class="flex gap-4 flex-wrap">
      <!-- User's PhoneNumber -->
      <app-text-input
        class="flex-1"
        label="Phone Number"
        ctrlId="formRegTechnicalPhoneNumber"
        placeholder="Enter technical contact person Phone number"
        [ctrl]="orgForm.controls.technicalContactPhoneNumber"></app-text-input>
      <!-- User's PhoneNumber -->

      <!-- User's Email -->
      <app-text-input
        class="flex-1"
        label="Email"
        ctrlId="formRegTechnicalEmail"
        placeholder="Enter technical contact person email"
        [ctrl]="orgForm.controls.technicalContactEmail"></app-text-input>
      <!-- User's Email -->
    </div>
  </ng-container>
</div>
<!-- Technical Contact Form -->
