<mat-card *ngFor="let dataOffer of dataOffers" class="w-[300px]">
  <mat-card-header>
    <icon-with-online-status
      mat-card-avatar
      mainIcon="sim_card"
      [onlineStatus]="dataOffer.connectorOnlineStatus">
    </icon-with-online-status>
    <mat-card-title>
      <a
        class="link"
        href="javascript:void(0)"
        (click)="dataOfferClick.emit(dataOffer)">
        {{ dataOffer.assetTitle }}
      </a>
    </mat-card-title>
    <mat-card-subtitle>{{ dataOffer.organizationName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex flex-col space-y-[16px]">
    <!-- Description Short Text -->
    <truncated-short-description
      [text]="dataOffer.descriptionShortText"></truncated-short-description>

    <!-- Tag List -->
    <asset-card-tag-list
      *ngIf="dataOffer.keywords?.length || dataOffer.version"
      [keywords]="dataOffer.keywords"
      [version]="dataOffer.version"></asset-card-tag-list>
  </mat-card-content>
</mat-card>
