<label *ngIf="!required"
  class="w-full mb-2 text-sm"
  [class.text-red-600]="ctrl.touched && ctrl.dirty && ctrl.invalid"
  [for]="ctrlId"
  >{{ label }}</label
>

<label *ngIf="required"
       class="w-full mb-2 text-sm"
       [class.text-red-600]="ctrl.touched && ctrl.dirty && ctrl.invalid"
       [for]="ctrlId"
>{{ label }} *</label
>

<mat-form-field
  class="w-full min-h-min text-s"
  appearance="outline"
  color="accent">
  <input
    matInput
    autocomplete="off"
    type="{{ showPassword ? 'text' : 'password' }}"
    [placeholder]="label"
    [id]="ctrlId"
    [formControl]="ctrl" />

  <button matSuffix mat-icon-button (click)="showPassword = !showPassword">
    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
  </button>

  <mat-error
    *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('required')"
    class="text-xs">
    Password is a required field
  </mat-error>

  <!-- This error message needs to be a mat-hint because mat-errors are hidden if the input is valid -->
  <mat-hint
    *ngIf="ctrl.touched && ctrl.dirty && parentFormGroup.hasError('mismatch')"
    class="text-xs">
    <span class="text-red-600">Passwords do not match</span>
  </mat-hint>
</mat-form-field>
