.keyword {
  @apply px-2.5 py-0.5 rounded-full text-xs;
  background-color: #fcfcfc;
  border: 1px solid #71717171;
}

.version-keyword {
  @apply bg-brand-highlight;
  color: white;
  border: none;
}
