<div class="flex flex-col">
  <div class="flex justify-end p-8">
    <button mat-icon-button routerLink="/my-organization/connectors">
      <mat-icon class="justify-end z-50">close</mat-icon>
    </button>
  </div>
  <div class="flex flex-col justify-center items-center flex-auto">
    <div class="w-full p-4 lg:p-0 lg:w-5/12 text-center">
      <h2 class="mb-2">Request a Connector-as-a-Service</h2>
      <p>As an MDS member, you have the option to request 1 free CaaS.</p>
      <div class="flex flex-col justify-center lg:flex-row mt-8 gap-8">
        <app-selection-box
          *ngFor="let option of options"
          [config]="option"></app-selection-box>
      </div>
    </div>
  </div>
</div>
