<!-- Footer container -->
<footer class="bg-neutral-100 border-t text-center text-neutral-600 p-2">
  <!-- Useful links section -->

  <div class="text-neutral-600 flex justify-center flex-wrap gap-4">
    <h6>
      <a href="https://mobility-dataspace.eu/de">Mobility Data Space</a>
    </h6>

    <h6>
      <a href="https://mobility-dataspace.eu/de/impressum">Impressum</a>
    </h6>
    <h6>
      <a href="https://mobility-dataspace.eu/de/datenschutz"> Datenschutz</a>
    </h6>
  </div>

  <!-- Useful links section -->

  <!--Copyright section-->
  <div class="text-center mt-4 text-gray-500">
    <span>© {{ thisYear }} Copyright:</span>
    <span class="ml-2">Mobility Data Space</span>
  </div>
</footer>
