<div class="select-none flex-1 flex flex-col justify-between items-center my-2">
  <div class="flex flex-col justify-between items-center w-full">
    <div class="w-full flex justify-between">
      <label class="label mb-2 w-full" [attr.for]="ctrlId"
        >Your certificate</label
      >
    </div>

    <textarea
      class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-1 h-48 resize-none"
      type="text"
      placeholder="
            -----BEGIN CERTIFICATE-----
            MIICqjCCAhOgAwIBAgIBADANBgk
            ...
            AkmFH0MPvGNeUum02F0=
            -----END CERTIFICATE-----"
      [formControl]="ctrl"
      [attr.id]="ctrlId"></textarea>
  </div>

  <ng-container *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('required')">
    <small class="text-red-600">Certificate is a required field</small>
  </ng-container>
  <ng-container *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('pattern')">
    <small class="text-red-600">Certificate format is invalid</small>
  </ng-container>
</div>
