<label
  *ngIf="showLabel"
  class="w-full mb-2 text-sm"
  [class.text-red-600]="ctrl.touched && ctrl.invalid"
  [for]="ctrlId"
  >{{ label }}</label
>

<mat-form-field class="flex-1 text-s" appearance="outline" color="accent">
  <textarea
    *ngIf="!readonly"
    rows="12"
    matInput
    [ngClass]="textAreaClasses"
    [attr.disabled]="readonly"
    [class.disabled]="readonly"
    [readonly]="readonly"
    [placeholder]="placeholder"
    [formControl]="ctrl"
    [attr.id]="ctrlId"></textarea>
  <textarea
    *ngIf="readonly"
    rows="12"
    matInput
    disabled
    readonly
    [ngClass]="textAreaClasses"
    [ngModel]="ctrl.value"
    [placeholder]="placeholder"
    [attr.id]="ctrlId"></textarea>
  <mat-error
    *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('required')"
    class="text-xs">
    Certificate is a required field
  </mat-error>
  <mat-error
    *ngIf="ctrl.touched && ctrl.dirty && ctrl.hasError('pattern')"
    class="text-xs">
    Certificate format is invalid
  </mat-error>
</mat-form-field>
