<div
  class="group w-full cursor-pointer flex flex-col items-center border border-black py-8 px-6 rounded-lg transition ease-in-out delay-100 hover:border-brand-500 hover:scale-[1.04] h-full justify-between"
  (click)="onAction()">
  <div class="flex flex-col items-center">
    <img
      *ngIf="selectionBoxConfig?.icon"
      [src]="selectionBoxConfig.icon"
      [alt]="selectionBoxConfig.title" />
    <h3
      class="text-base font-semibold text-black leading-6 group-hover:text-brand-500 mt-3 transition delay-100">
      {{ selectionBoxConfig.title }}
    </h3>
    <p class="text-sm font-normal text-gray-500 leading-5">
      {{ selectionBoxConfig.subTitle }}
    </p>
  </div>

  <ul
    *ngIf="selectionBoxConfig?.bulletPoints"
    class="w-full my-8 space-y-3 text-sm leading-6 xl:mt-10 text-gray-600"
    role="list">
    <li
      *ngFor="let bullet of selectionBoxConfig.bulletPoints"
      class="flex gap-x-3 text-left">
      <mat-icon svgIcon="checkbox"></mat-icon>
      {{ bullet }}
    </li>
  </ul>

  <button
    *ngIf="selectionBoxConfig?.action?.label"
    class="btn-accent my-4 flex flex-row items-center gap-2"
    type="button"
    matTooltipClass="w-full p-2 text-sm"
    [matTooltip]="selectionBoxConfig.action?.hint ?? ''"
    [disabledBtn]="selectionBoxConfig.action?.isDisabled ?? false"
    (click)="onAction()">
    <div
      *ngIf="selectionBoxConfig.action!.isLoading"
      class="border-4 border-gray-300 border-t-0 border-l-0 rounded-full w-4 h-4 animate-spin"></div>
    {{ selectionBoxConfig.action!.label }}
  </button>
</div>
