:8080 {
  map {path} {target_host} {target_port} {
    ~/api/.*   {$BACKEND_UPSTREAM_HOST}   8080

    default    {$FRONTEND_UPSTREAM_HOST}  8080
  }

  reverse_proxy {target_host}:{target_port} {
    header_up Authorization "Bearer {header.X-Forwarded-Access-Token}"
  }
}