<div class="p-2">
  <!-- close button -->
  <div class="flex w-full justify-end">
    <button mat-icon-button mat-dialog-close aria-label="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- close button -->

  <!-- Title Section -->
  <div class="flex justify-start mx-4 lg:mx-8">
    <div>
      <h3 class="form-dialog-title">Invite a User</h3>
      <p class="form-dialog-prose">Invite participant user to the MDS portal</p>
    </div>
  </div>
  <!-- Title Section -->

  <form [formGroup]="group" (ngSubmit)="submit()">
    <!-- Content Section -->
    <mat-dialog-content class="mx-4 lg:mx-8 mat-typography">
      <!-- Grid container with responsive classes -->
      <div class="py-8 grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-2">
        <!-- First Name -->
        <app-text-input
          class="flex-1"
          label="First Name"
          ctrlId="formRegFirstName"
          placeholder="John"
          required
          [ctrl]="group.controls.firstName"></app-text-input>
        <!-- First Name -->

        <!-- Last Name -->
        <app-text-input
          class="flex-1"
          label="Last Name"
          ctrlId="formRegLastName"
          placeholder="Doe"
          required
          [ctrl]="group.controls.lastName"></app-text-input>
        <!-- Last Name -->

        <!-- Email -->
        <app-text-input
          class="flex-1"
          label="Email"
          ctrlId="formRegEmail"
          placeholder="john.doe@my-org.com"
          required
          [ctrl]="group.controls.email"></app-text-input>
        <!-- Email -->

        <!-- User Roles -->
        <div class="flex flex-col justify-start items-start">
          <div class="flex items-center mb-2">
            <h4 class="text-sm">User's Role</h4>
            <mat-icon
              class="scale-75"
              matTooltipClass="roles-tooltip"
              [matTooltip]="rolesTooltip"
              >info</mat-icon
            >
          </div>
          <mat-form-field class="w-full" appearance="outline">
            <mat-select
              placeholder="Select Role"
              [formControl]="group.controls.role">
              <mat-option *ngFor="let role of assignableRoles" [value]="role"
                >{{ mapToReadable(role) }}
              </mat-option>
            </mat-select>
            <mat-error
              class="text-sm"
              appFormControlError
              fieldName="User's Role"
              [control]="group.get('role')"></mat-error>
          </mat-form-field>
        </div>
        <!-- User Roles -->
      </div>
    </mat-dialog-content>
    <!-- Content Section -->

    <!-- Action Section -->
    <mat-dialog-actions align="end">
      <div class="flex gap-4">
        <button class="btn-accent-outline" type="button" mat-dialog-close>
          Back
        </button>

        <button
          class="btn-accent"
          type="submit"
          [disabledBtn]="!group.valid || state.state === 'submitting'"
          (click)="submit()">
          Send Invitation
        </button>
      </div>
    </mat-dialog-actions>
    <!-- Action Section -->
  </form>
</div>
