<div class="flex justify-center items-center">
  <mat-stepper
    class="mt-4 w-full lg:w-2/3"
    labelPosition="bottom"
    #stepper
    linear>
    <!-- connector details Step-->
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success' || form.connectorTab.valid">
      <form class="flex flex-col w-full justify-center">
        <ng-template matStepLabel>Add Connector Details</ng-template>
        <div
          class="select-none flex flex-col justify-center items-center my-10 w-2/3 mx-auto">
          <!-- Connector config info -->
          <div class="relative p-4 bg-gray-100 max-w-5xl overflow-hidden">
            <div class="absolute top-0 right-0">
              <button
                mat-icon-button
                aria-label="copy button with"
                (click)="(null)">
                <mat-icon>content_copy</mat-icon>
              </button>
            </div>

            <code
              class="block text-left text-sm text-gray-500 whitespace-pre overflow-y-auto break-words p-3"
              >{{ state.localConnectorConfig }}</code
            >
          </div>

          <!-- Frontend URL -->
          <app-connector-url-input
            class="w-full"
            label="Connector's Frontend URL"
            ctrlId="formRegOConFrontendUrl"
            required
            [ctrl]="
              form.connectorTab.controls.frontendUrl
            "></app-connector-url-input>

          <!-- Endpoint URL -->
          <app-connector-url-input
            class="w-full"
            label="Connector's Endpoint URL"
            ctrlId="formRegOConEndpointUrl"
            urlSuffix="/api/dsp"
            required
            [ctrl]="
              form.connectorTab.controls.endpointUrl
            "></app-connector-url-input>

          <!-- Management URL -->
          <app-connector-url-input
            class="w-full"
            label="Connector's Management URL"
            ctrlId="formRegOConManagementUrl"
            urlSuffix="/api/management"
            required
            [ctrl]="
              form.connectorTab.controls.managementUrl
            "></app-connector-url-input>

          <!-- JWKS Support -->
          <mat-checkbox
            class="self-start gap-2"
            [formControl]="form.connectorTab.controls.useJwks">
            Use the Connector's JWKS URL to retrieve the connector
            certificate</mat-checkbox
          >

          <app-connector-url-input
            *ngIf="form.connectorTab.controls.useJwks.value"
            class="w-full mt-2.5"
            label="Connector's JWKS URL"
            ctrlId="formRegOConJwksUrl"
            urlSuffix="/api/dsp/jwks"
            [ctrl]="form.connectorTab.controls.jwksUrl"
            [required]="
              form.connectorTab.controls.useJwks.value
            "></app-connector-url-input>
        </div>

        <div
          class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
          <button
            class="btn-accent-outline"
            type="button"
            [routerLink]="exitLink">
            Cancel
          </button>

          <button
            *ngIf="!form.connectorTab.controls.useJwks.value"
            class="btn-accent"
            [disabledBtn]="!form.connectorTab.valid"
            (click)="stepper.next()">
            Next
          </button>

          <button
            *ngIf="form.connectorTab.controls.useJwks.value"
            class="btn-accent"
            [disabledBtn]="!form.connectorTab.valid"
            (click)="registerConnector('jwks')">
            Provide Connector
          </button>
        </div>
      </form>
    </mat-step>
    <!-- connector details Step -->

    <!-- Generate Certificate Step-->
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success'">
      <ng-template matStepLabel>Generate Certificate</ng-template>

      <div class="flex justify-center items-center">
        <app-certificate-input-form
          class="w-full"
          [group]="form.certificateTab"
          [organizationLegalName]="
            form.connectorTab.controls.organization.value?.name ?? ''
          "
          [commonName]="form.connectorTab.controls.endpointUrl.value"
          [location]="
            form.connectorTab.controls.location.value
          "></app-certificate-input-form>
      </div>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent-outline" type="button" matStepperPrevious>
          Back
        </button>
        <button
          class="btn-accent"
          [disabledBtn]="
            state.state === 'submitting' ||
            !form.connectorTab.valid ||
            !form.certificateTab.valid
          "
          (click)="registerConnector('certificate')">
          {{ createActionName }}
        </button>
      </div>
    </mat-step>
    <!-- Generate Certificate Step-->

    <!-- Final Step -->
    <mat-step color="accent" [editable]="false">
      <ng-template matStepLabel>Setup Connector</ng-template>

      <app-connector-registering-success-message-page
        [connectorConfig]="
          state.connectorConfig
        "></app-connector-registering-success-message-page>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent" [routerLink]="exitLink">Finish</button>
      </div>
    </mat-step>
    <!-- Final Step -->
  </mat-stepper>
</div>
