<div class="flex justify-center items-center">
  <mat-stepper
    class="mt-4 w-full lg:w-2/3"
    labelPosition="bottom"
    #stepper
    linear>
    <!-- connector details Step-->
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success'"
      [stepControl]="form.connectorTab">
      <form class="flex flex-col w-full justify-center">
        <ng-template matStepLabel>Add Connector Details</ng-template>
        <div
          class="select-none flex flex-col justify-center items-center my-10 w-2/3 mx-auto">
          <!-- MDS ID of client Organization -->
          <app-organization-select
            class="w-full"
            label="Client Organization"
            [ctrl]="form.connectorTab.controls.organization"
            [organizations]="state.organizationList"></app-organization-select>

          <!-- Connector's Name -->
          <app-text-input
            class="w-full"
            label="Connector's Name"
            ctrlId="formRegOConName"
            placeholder="My Connector"
            required
            [ctrl]="form.connectorTab.controls.name"></app-text-input>

          <!-- Connector's Location -->
          <app-text-input
            class="w-full"
            label="Connector's Location"
            ctrlId="formRegOConLocation"
            placeholder="DE"
            required
            [ctrl]="form.connectorTab.controls.location"></app-text-input>

          <!-- Frontend URL -->
          <app-connector-url-input
            class="w-full"
            label="Connector's Frontend URL"
            ctrlId="formRegOConFrontendUrl"
            [ctrl]="
              form.connectorTab.controls.frontendUrl
            "></app-connector-url-input>

          <!-- Endpoint URL -->
          <app-connector-url-input
            class="w-full"
            label="Connector's Endpoint URL"
            ctrlId="formRegOConEndpointUrl"
            urlSuffix="/api/dsp"
            [ctrl]="
              form.connectorTab.controls.endpointUrl
            "></app-connector-url-input>

          <!-- Management URL -->
          <app-connector-url-input
            class="w-full"
            label="Connector's Management URL"
            ctrlId="formRegOConManagementUrl"
            urlSuffix="/api/management"
            [ctrl]="
              form.connectorTab.controls.managementUrl
            "></app-connector-url-input>
        </div>

        <div
          class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
          <button
            class="btn-accent-outline"
            type="button"
            [routerLink]="exitLink">
            Cancel
          </button>

          <button
            class="btn-accent"
            [disabledBtn]="!form.connectorTab.valid"
            (click)="stepper.next()">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <!-- connector details Step -->

    <!-- Generate Certificate Step-->
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success'"
      [stepControl]="form.certificateTab">
      <ng-template matStepLabel>Generate Certificate</ng-template>

      <div class="flex justify-center items-center">
        <app-certificate-input-form
          class="w-full"
          [group]="form.certificateTab"
          [organizationLegalName]="
            form.connectorTab.controls.organization.value?.name ?? ''
          "
          [commonName]="form.connectorTab.controls.endpointUrl.value"
          [location]="
            form.connectorTab.controls.location.value
          "></app-certificate-input-form>
      </div>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent-outline" type="button" matStepperPrevious>
          Back
        </button>
        <button
          class="btn-accent"
          [disabledBtn]="
            state.state === 'submitting' || !form.certificateTab.valid
          "
          (click)="registerConnector()">
          {{ createActionName }}
        </button>
      </div>
    </mat-step>
    <!-- Generate Certificate Step-->

    <!-- Final Step -->
    <mat-step
      color="accent"
      [editable]="false"
      [stepControl]="form.group.controls.canSwitchTabs">
      <ng-template matStepLabel>Setup Connector</ng-template>

      <app-connector-registering-success-message-page
        [connectorConfig]="
          state.connectorConfig
        "></app-connector-registering-success-message-page>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent" [routerLink]="exitLink">Finish</button>
      </div>
    </mat-step>
    <!-- Final Step -->
  </mat-stepper>
</div>
