<ng-container *ngIf="!sidebarMenu.isDisabled">
  <ng-container *ngIf="!sidebarMenu.isExternalLink; else externalLinkTemplate">
    <a
      class="p-5 my-1 w-auto rounded-md hover:bg-sidebar-selected-color hover:!text-sidebar-text-selected-color flex items-center text-sidebar-text-color cursor-pointer"
      routerLinkActive="bg-sidebar-selected-color !text-sidebar-text-selected-color"
      [ngClass]="isExpandedMenu ? 'w-auto space-x-6' : ' w-fit space-x-0'"
      [routerLink]="sidebarMenu.rLink"
      [queryParams]="sidebarMenu.queryParams">
      <mat-icon [svgIcon]="sidebarMenu.icon"></mat-icon>
      <p
        class="text-sm leading-4 group-hover:blockDisable"
        [ngClass]="isExpandedMenu ? 'block' : 'hidden'">
        {{ sidebarMenu.title }}
      </p>
    </a>
  </ng-container>

  <ng-template #externalLinkTemplate>
    <a
      class="p-5 my-1 rounded-md hover:bg-sidebar-selected-color hover:!text-sidebar-text-selected-color flex items-center text-sidebar-text-color cursor-pointer"
      target="_blank"
      [ngClass]="isExpandedMenu ? 'w-auto space-x-6' : 'w-fit space-x-0'"
      [href]="sidebarMenu.rLink">
      <mat-icon [svgIcon]="sidebarMenu.icon"></mat-icon>
      <p
        class="text-sm leading-4 group-hover:blockDisable"
        [ngClass]="isExpandedMenu ? 'block' : 'hidden'">
        {{ sidebarMenu.title }}
      </p>
    </a>
  </ng-template>
</ng-container>
