<div
  class="select-none bg-gray-200 shadow-sm rounded-md flex flex-col justify-between items-center p-4 my-2">
  <div class="flex flex-row justify-between items-center w-full">
    <label class="label">{{ label }}:</label>

    <ng-container [ngSwitch]="label">
      <input
        *ngSwitchCase="'Email'"
        type="email"
        [formControl]="control"
        [ngClass]="cssClasses" />

      <input
        *ngSwitchCase="'Password'"
        type="password"
        [formControl]="control"
        [ngClass]="cssClasses" />

      <input
        *ngSwitchCase="'Confirm Password'"
        type="password"
        [formControl]="control"
        [ngClass]="cssClasses" />

      <input
        *ngSwitchCase="'Confirm Password'"
        type="password"
        [formControl]="control"
        [ngClass]="cssClasses" />

      <textarea
        *ngSwitchCase="'Address'"
        rows="3"
        [formControl]="control"
        [ngClass]="cssClasses"></textarea>

      <input
        *ngSwitchDefault
        class="FormInputBasic"
        type="text"
        [formControl]="control"
        [ngClass]="cssClasses" />
    </ng-container>
  </div>

  <ng-container *ngIf="containsErrors()">
    <div *ngIf="control.errors?.['required']" class="mt-3 text-red-600">
      {{ label }} is a required field
    </div>
    <div *ngIf="control.errors?.['email']" class="mt-3 text-red-600">
      Please enter a correct email address.
    </div>
  </ng-container>
</div>
