<mat-dialog-content class="p-4 !flex flex-col">
  <p class="confirmation-dialog-title">Delete User</p>

  <app-loading-element
    *ngIf="modalData.isLoading"
    class="flex-1 px-4 py-3"></app-loading-element>

  <app-error-element
    *ngIf="modalData.isError"
    class="flex-1 px-4 py-3"
    [errorMessage]="modalData.error.failureMessage"></app-error-element>

  <div *ngIf="modalData.isReady" class="px-4 py-3 confirmation-dialog-prose">
    <div *ngIf="!modalData.data.canBeDeleted" class="space-y-1">
      <p>This user cannot be deleted.</p>
    </div>
    <div
      *ngIf="modalData.data.canBeDeleted && isLastParticipantAdmin"
      class="space-y-1">
      <p>
        You are trying to delete the last Participant Admin of
        <span class="italic">{{ data.userOrganizationName }}</span
        >.
      </p>
      <p>
        This will result in irreversibly deleting the whole organization,
        including all of its users, connectors and central components.
      </p>
      <p>Are you sure you want to proceed?</p>
    </div>
    <div *ngIf="modalData.data.canBeDeleted && !isLastParticipantAdmin">
      <div *ngIf="isOrganizationCreator" class="space-y-1">
        <p>
          You are trying to delete the creator of
          <span class="italic">{{ data.userOrganizationName }}</span
          >.
        </p>
        <p>Please select a successor.</p>
        <form class="!mt-5" [formGroup]="deleteOrganizationCreatorForm">
          <label class="w-full mb-2 text-sm">Successor</label>
          <mat-form-field
            class="w-full text-sm"
            appearance="outline"
            color="accent">
            <mat-select
              placeholder="Select Successor"
              [formControl]="deleteOrganizationCreatorForm.controls.successor">
              <mat-option
                *ngFor="
                  let successor of modalData.data.possibleCreatorSuccessors
                "
                [value]="successor.userId"
                >{{ successor.firstName }} {{ successor.lastName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <p class="text-[13px] !-mt-4">
            Connectors and central components of
            <span class="italic">{{ data.userFullName }}</span>
            will be linked to this successor
          </p>
        </form>
      </div>
      <div *ngIf="!modalData.data.isOrganizationCreator" class="space-y-1">
        <p>Are you sure, you want to delete this user?</p>
        <p>
          All connectors, the user is associated with, will be linked to the
          creator of
          <span class="italic"> {{ data.userOrganizationName }}</span
          >.
        </p>
      </div>
    </div>
  </div>

  <div class="px-4 py-3 flex justify-end gap-2">
    <button class="btn-outline" type="button" (click)="onDismiss()">
      Cancel
    </button>
    <button
      class="btn-accent-danger flex items-center gap-1.5"
      type="button"
      [disabledBtn]="
        (!isLastParticipantAdmin &&
          isOrganizationCreator &&
          deleteOrganizationCreatorForm.invalid) ||
        isBusy ||
        !modalData.dataOrUndefined?.canBeDeleted ||
        !modalData.isReady
      "
      (click)="onConfirmDeleteUserClick()">
      <div
        *ngIf="isBusy"
        class="border-4 border-gray-300 border-t-0 border-l-0 rounded-full w-4 h-4 animate-spin"></div>
      Delete
    </button>
  </div>
</mat-dialog-content>
