<div
  class="bg-gray-200 py-1 lg:py-10 flex flex-col items-center justify-center w-full">
  <form
    class="flex flex-col bg-white shadow-lg w-full md:w-4/5 xl:w-3/5 2xl:w-1/2 p-4 lg:p-10 md:rounded-3xl"
    ngxsForm="organization.organizationCreateForm"
    [formGroup]="group"
    (ngSubmit)="submit()">
    <app-env-banner class="w-full"></app-env-banner>
    <p
      class="inline-block p-3 m-6 text-2xl font-semibold text-center tracking-wider text-teal-900 uppercase bg-teal-accent-400">
      Provide new Connector
    </p>

    <app-text-input
      label="Name"
      ctrlId="formRegOConName"
      placeholder="e.g. Example GmbH Test Connector"
      [ctrl]="group.controls.name"></app-text-input>

    <app-text-input
      label="Component Location"
      ctrlId="formRegOConLocation"
      placeholder="e.g. DE, UK, FR etc."
      [ctrl]="group.controls.location"></app-text-input>

    <app-text-input
      label="Frontend URL"
      ctrlId="formRegOConFrontendUrl"
      placeholder="e.g. https://my-connector.my-org.com"
      invalidPatternMessage="URL is not valid. Example value: https://my-connector.my-org.com"
      [ctrl]="group.controls.frontendUrl"></app-text-input>

    <app-text-input
      label="Management API URL"
      ctrlId="formRegOConManagementApiUrl"
      placeholder="e.g. https://my-connector.my-org.com/api/management"
      invalidPatternMessage="URL is not valid. Example value: https://my-connector.my-org.com/api/management"
      [ctrl]="group.controls.managementUrl"></app-text-input>

    <app-text-input
      label="Connector Endpoint"
      ctrlId="formRegOConConnectorEndpoint"
      placeholder="e.g. https://my-connector.my-org.com/api/dsp"
      invalidPatternMessage="URL is not valid. Example value: https://my-connector.my-org.com/api/dsp"
      [ctrl]="group.controls.endpointUrl"></app-text-input>

    <app-text-input
      label="MDS ID of client Organization"
      ctrlId="formRegOConMdsId"
      placeholder="MDS ID of the client organization"
      [ctrl]="group.controls.mdsId"></app-text-input>

    <app-certificate-input class="w-full" [ctrl]="group.controls.certificate">
    </app-certificate-input>

    <app-certificate-generator-bar
      [certificateCtrl]="group.controls.certificate"
      [locationCtrl]="group.controls.location"
      [urlCtrl]="group.controls.frontendUrl"></app-certificate-generator-bar>

    <div class="border-gray-400 inline-flex mt-4 justify-evenly w-full">
      <a
        class="select-none cursor-pointer bg-red-200 rounded-md text-center active:bg-red-300 hover:bg-red-300 hover:text-black my-auto w-2/5 p-3 focus:text-black focus:bg-red-300 disabled:bg-slate-500"
        routerLink="/my-organization/connectors"
        [ngClass]="{
          hidden: state.state === 'success' ? true : false,
        }">
        Cancel
      </a>
      <button
        class="btn-green my-auto w-2/5 p-3"
        type="submit"
        [ngClass]="{
          hidden: state.state === 'success' ? true : false,
        }"
        [disabled]="!group.valid || state.state === 'submitting'">
        Register
      </button>
    </div>
  </form>
</div>
