<label
  class="w-full mb-2 text-sm"
  [class.text-red-600]="ctrl.touched && ctrl.invalid"
  [for]="ctrlId"
  >{{ required ? label + ' *' : label }}</label
>

<mat-form-field
  class="w-full min-h-fit text-s"
  appearance="outline"
  color="accent">
  <input
    matInput
    type="text"
    [id]="ctrlId"
    [formControl]="ctrl"
    [placeholder]="placeholder" />

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('required')"
    class="text-xs bg-white">
    {{ requiredMessage }}</mat-error
  >
  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('pattern')"
    class="text-xs bg-white">
    {{ invalidPatternMessage }}</mat-error
  >
  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('minlength')"
    class="text-xs bg-white">
    At least {{ ctrl.errors!.minlength.requiredLength }} characters
    required.</mat-error
  >
  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('maxlength')"
    class="text-xs bg-white">
    At most {{ ctrl.errors!.maxlength.requiredLength }} characters
    allowed.</mat-error
  >

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('email')"
    class="text-xs bg-white">
    Invalid email format.</mat-error
  >

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('url')"
    class="text-xs bg-white">
    Invalid URL format. Please use the following format:
    https://www.example.com</mat-error
  >

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('connector-url')"
    class="text-xs bg-white">
    Invalid URL format. Please use the following format: https://www.example.com
  </mat-error>

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('zipCode')"
    class="text-xs bg-white">
    Invalid Zip Code. Please use 5 or more letters, numbers and '-'.</mat-error
  >

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('phoneNumber')"
    class="text-xs bg-white">
    Invalid phone number. Only digits, whitespaces and '+' allowed</mat-error
  >

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('trimmedBlank')"
    class="text-xs bg-white">
    The field cannot be blank.
  </mat-error>
</mat-form-field>
