<div class="flex flex-col gap-8 justify-center items-center p-8">
  <app-env-banner class="w-full"></app-env-banner>
  <div
    *ngIf="type === 'AUTHORITY'"
    class="flex flex-col w-full lg:flex-row gap-4">
    <a
      class="flex-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-yellow-50"
      href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-500">
        {{ organization.registrationStatus || 'N/A' }}
      </h5>
      <p class="font-normal text-1xl text-gray-700 dark:text-gray-400">
        Organization Status
      </p>
    </a>
    <a
      class="flex-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-yellow-50"
      href="#">
      <h5 class="mb-2 text-4xl font-bold tracking-tight text-brand-500">
        <span
          *ngIf="
            dashboard.memberCount || dashboard.memberCount === 0;
            else notAvailable
          ">
          {{ dashboard.memberCount }}
        </span>
        <ng-template #notAvailable> N/A </ng-template>
      </h5>
      <p class="font-normal text-1xl text-gray-700 dark:text-gray-400">
        Members in Organization
      </p>
    </a>
    <a
      class="flex-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-yellow-50"
      href="#">
      <h5 class="mb-2 text-4xl font-bold tracking-tight text-brand-500">
        <span
          *ngIf="
            dashboard.connectorCount || dashboard.connectorCount === 0;
            else notAvailable
          ">
          {{ dashboard.connectorCount }}
        </span>
        <ng-template #notAvailable> N/A </ng-template>
      </h5>
      <p class="font-normal text-1xl text-gray-700 dark:text-gray-400">
        Connectors in Organization for
      </p>
    </a>
    <a
      class="flex-1 block max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-yellow-50"
      href="#">
      <h5 class="mb-2 text-4xl font-bold tracking-tight text-brand-500">
        <span
          *ngIf="
            dashboard.dataOfferCount || dashboard.dataOfferCount === 0;
            else notAvailable
          ">
          {{ dashboard.dataOfferCount }}
        </span>
        <ng-template #notAvailable> N/A </ng-template>
      </h5>
      <p class="font-normal text-1xl text-gray-700 dark:text-gray-400">
        Data Offers
      </p>
    </a>
  </div>

  <mat-tab-group
    class="flex flex-col bg-white shadow-lg w-full p-8 rounded-3xl"
    mat-stretch-tabs>
    <mat-tab label="Organization Profile:">
      <div class="mt-8">
        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1 w-full">
          <label class="organization-profile-label">MDS ID:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.mdsId"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Legal Name:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.name"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Address:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.mainAddress"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">DUNS Number:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.taxId"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Web Page:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.url"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Main Contact Email:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.mainContactEmail"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Registration Status:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.registrationStatus"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Created On:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.createdAt | date : 'mediumDate'"
            [disabled]="true" />
        </div>

        <div
          class="select-none flex flex-col justify-start items-start p-2 my-1">
          <label class="organization-profile-label">Created By:</label>

          <input
            class="my-1 p-2 bg-white border-b-2 w-full text-gray-500"
            type="text"
            [value]="organization.createdBy"
            [disabled]="true" />
        </div>
        <ng-container
          *ngIf="
            (['AUTHORITY_ADMIN', 'AUTHORITY_USER'] | hasAnyRole | async) &&
            type === 'AUTHORITY'
          ">
          <div
            *ngIf="organization.registrationStatus == 'PENDING'"
            class="flex flex-row justify-evenly items-center my-4">
            <button
              class="bg-white hover:bg-green-50 text-green-600 border-gray-500 border bfont-bold py-2 px-8 rounded-full my-2 disabled:bg-gray-600 disabled:text-white"
              [disabled]="organization.registrationStatus !== 'PENDING'"
              (click)="approve()">
              Approve
            </button>
            <button
              class="bg-white hover:bg-red-50 text-red-600 border-gray-500 border py-2 px-8 rounded-full my-2 disabled:bg-gray-600 disabled:text-white"
              [disabled]="organization.registrationStatus !== 'PENDING'"
              (click)="reject()">
              Reject
            </button>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Users list">
      <table
        *ngIf="organization.memberList as members"
        class="min-w-full divide-y divide-gray-200 mt-8">
        <thead>
          <tr>
            <th
              class="organization-profile-label py-3.5 font-normal text-left rtl:text-right"
              scope="col">
              <button class="flex items-center gap-x-3 focus:outline-none">
                <span>Full Name</span>
              </button>
            </th>

            <th
              class="organization-profile-label py-3.5 font-normal text-left rtl:text-right"
              scope="col">
              User Role
            </th>
            <th
              class="organization-profile-label py-3.5 font-normal text-left rtl:text-right"
              scope="col">
              Actions
            </th>
          </tr>
        </thead>
        <ng-container *ngIf="members">
          <ng-container *ngIf="members.length > 0; else noRows">
            <tbody
              *ngFor="let user of members"
              class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                  <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                </td>

                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                  <h4>
                    <span *ngFor="let item of user.roles"
                      >{{ mapToReadable(item) }},</span
                    >
                  </h4>
                </td>

                <td class="flex px-4 py-4 text-sm whitespace-nowrap">
                  <a
                    *ngIf="type === 'AUTHORITY'"
                    class="px-1 py-1 text-gray-600 transition-colors duration-200 rounded-lg"
                    [routerLink]="[
                      '/authority/organizations',
                      organization.mdsId,
                      'users',
                      user.userId
                    ]">
                    <svg
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor">
                      <path
                        d="M12 22.4199C17.5228 22.4199 22 17.9428 22 12.4199C22 6.89707 17.5228 2.41992 12 2.41992C6.47715 2.41992 2 6.89707 2 12.4199C2 17.9428 6.47715 22.4199 12 22.4199Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path
                        d="M10.5596 8.41992L13.6196 11.29C13.778 11.4326 13.9047 11.6068 13.9914 11.8015C14.0781 11.9962 14.123 12.2068 14.123 12.4199C14.123 12.633 14.0781 12.8439 13.9914 13.0386C13.9047 13.2332 13.778 13.4075 13.6196 13.55L10.5596 16.4199"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </a>
                  <a
                    *ngIf="type === 'PROFILE_PAGE'"
                    class="px-1 py-1 text-gray-600 transition-colors duration-200 rounded-lg"
                    [routerLink]="['/my-organization/user', user.userId]">
                    <svg
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor">
                      <path
                        d="M12 22.4199C17.5228 22.4199 22 17.9428 22 12.4199C22 6.89707 17.5228 2.41992 12 2.41992C6.47715 2.41992 2 6.89707 2 12.4199C2 17.9428 6.47715 22.4199 12 22.4199Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path
                        d="M10.5596 8.41992L13.6196 11.29C13.778 11.4326 13.9047 11.6068 13.9914 11.8015C14.0781 11.9962 14.123 12.2068 14.123 12.4199C14.123 12.633 14.0781 12.8439 13.9914 13.0386C13.9047 13.2332 13.778 13.4075 13.6196 13.55L10.5596 16.4199"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </ng-container>
          <ng-template #noRows>
            <tr>
              <td
                class="py-5 px-6 text-sm font-normal text-center text-gray-700"
                colspan="6">
                No Users registered in the organization yet.
              </td>
            </tr>
          </ng-template>
        </ng-container>
      </table>
      <button
        *ngIf="'PARTICIPANT_ADMIN' | hasRole | async"
        class="border border-black bg-black text-white rounded-md p-2 m-2"
        routerLink="/my-organization/users/invite">
        Invite new User
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
