<form [formGroup]="userForm">
  <div class="flex gap-4 flex-wrap">
    <!-- User's First Name -->
    <app-text-input
      class="flex-1"
      label="First Name"
      ctrlId="formRegFirstName"
      placeholder="John"
      [ctrl]="userForm.controls.firstName"></app-text-input>
    <!-- User's First Name -->

    <!-- User's Last Name -->
    <app-text-input
      class="flex-1"
      label="Last Name"
      ctrlId="formRegLastName"
      placeholder="Doe"
      [ctrl]="userForm.controls.lastName"></app-text-input>
    <!-- User's Last Name -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- User's Job Title -->
    <app-text-input
      class="flex-1"
      label="Job Title"
      ctrlId="formRegJobTitle"
      placeholder="Analyst"
      [ctrl]="userForm.controls.jobTitle"></app-text-input>

    <!-- User's Job Title -->

    <!-- User's PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="Phone Number"
      ctrlId="formRegPhoneNumber"
      placeholder="+49 1234 567890"
      [ctrl]="userForm.controls.phoneNumber"></app-text-input>
    <!-- User's PhoneNumber -->

    <!-- User's Email -->
    <ng-container>
      <app-text-input
        class="flex-1"
        label="Email"
        ctrlId="formRegEmail"
        placeholder="john.doe@my-org.com"
        [ctrl]="userForm.controls.email"></app-text-input>
    </ng-container>
    <!-- User's Email -->
  </div>

  <div class="flex flex-row gap-4 flex-wrap">
    <!-- Password -->
    <app-password-input
      class="flex-1"
      [ctrl]="userForm.controls.password"></app-password-input>

    <!-- Confirm password -->
    <app-password-repeat-input
      class="flex-1"
      [ctrl]="userForm.controls.confirmPassword"
      [parentFormGroup]="userForm"></app-password-repeat-input>
  </div>
</form>
