html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: 100%;
}

a {
  color: #9ca3af !important;
}

a:hover {
  color: rgb(93 169 255) !important;
}

.login-pf {
  background: rgb(243 243 243) !important;
}

.login-pf body {
  background: rgb(243 243 243) repeat-x 50% 0 !important;
}

.login-pf-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* default - IE compatibility */
.pf-m-primary {
  display: block;
  background-color: black !important;
  color: white;
  text-transform: uppercase;
  border-radius: 0.25rem;
  line-height: 1;
  height: 2.5em;
  margin: 0 auto;
  padding: 0 5em 0 5em;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pf-m-primary:hover {
  color: rgb(93 169 255) !important;
}

/* default - IE compatibility */
.pf-c-button.pf-m-control {
  border: solid 1px;
  border-color: rgba(230, 230, 230, 0.5);
  width: 211px;
  height: 41px;
  margin-bottom: 70px;
  border-radius: 30px;
  color: #202020;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 53px;
}
/*End of IE compatibility*/
h1#kc-page-title {
  display: none;
  margin-top: 10px;
}

#kc-locale:hover ul {
  display: block;
}

.login-pf .container {
  padding-top: 40px;
}

.login-pf a:hover {
  color: rgb(93 169 255);
}

#kc-logo {
  width: 100%;
  margin: 5px;
}

#kc-header-wrapper {
  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 0.1em;
  padding: 10px 10px 20px;
  white-space: normal;
}

#kc-content {
  width: 35rem;
}

#kc-attempted-username {
  font-size: 20px;
  font-family: inherit;
  font-weight: normal;
  padding-right: 10px;
}

#kc-username {
  display: flex;
  flex-direction: column;
  margin: 70px 0 10px 0;
}

#kc-webauthn-settings-form {
  padding-top: 8px;
}

#kc-info-wrapper {
  font-size: 13px;
}

#kc-form-options span {
  margin-bottom: 12px;
  display: block;
}

#kc-form-options .checkbox {
  color: #72767b;
}

#kc-terms-text {
  margin-bottom: 20px;
}

#kc-registration {
  margin-bottom: 0;
}

/* TOTP */

.subtitle {
  text-align: right;
  margin-top: 30px;
  color: #909090;
}

.required {
  color: #a30000;
}

ol#kc-totp-settings {
  margin: 0;
  padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px;
}

.login-pf-page .login-pf-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh !important;
}

/* Internet Explorer 11 compatibility workaround for select-authenticator screen */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .login-pf body {
    object-fit: cover;
    background: #ffffff no-repeat center center fixed;
    background-size: cover;
  }
}

/*media screen for small mobiles*/
@media only screen and (max-height: 810px), (-ms-high-contrast: active) {
  .login-pf body {
    object-fit: cover;
    background: #ffffff no-repeat center center fixed;
    background-size: cover;
  }
}

.card-pff {
  margin: 0 auto;
  padding: 10px 20px !important;
  max-width: 500px;
  border-radius: 25px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
  margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
  border-bottom: 1px solid #00ff62;
}

.login-pf-page .list-view-pf-description {
  width: 100%;
}

#kc-update-profile-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: rgb(0, 0, 0);
}

#kc-form-login div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.form-group {
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

#kc-back {
  margin-top: 5px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formHeader {
  text-align: center;
}

.formBody {
  text-align: center;
}

.text-input {
  width: 100%;
  border: 1px solid #474747;
  margin: 10px auto;
  color: rgb(0, 0, 0);
  background-color: white !important;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

#kc-logout-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-input::placeholder {
  font-size: small;
  color: black;
}

.login-pf-header {
  margin: 10px auto;
  background-image: url(../img/sovity_logo.svg);
  background-repeat: no-repeat;
  background-position: top;
  height: 110px;
  max-width: 400px;
  background-size: 63%;
}

div.form-group.login-pf-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-right: 0px !important;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 1px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12::placeholder {
  color: black;
}

.pf-c-button.pf-m-primary.pf-m-block.btn-lg {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  max-width: 211px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.kc-registration-container.a:link {
  color: white !important;
}

.kc-registration.a:link {
  color: white !important;
}

.kc-form.a:link {
  color: white !important;
}

.kc-content-wrapper.a:link {
  color: white !important;
}

.kc-content.a:link {
  color: white !important;
}

.card-pff.a:link {
  color: white !important;
}

/*HIEr */
.kc-info.a:link {
  color: white !important;
}

.kc-info-wrapper.a:link {
  color: white !important;
}

.a:link {
  color: white !important;
}

.alert-warning,
.alert-error,
.alert-info,
.alert-success {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  padding: 7px 3px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pf-c-alert__icon {
  margin: 0 10px 0 6px;
}

.kc-login-tooltip {
  display: flex;
  justify-content: center;
}

.otp-label {
  text-align: center;
}

@media screen and (max-width: 425px) {
  .login-pf-header {
    margin-left: 5% !important;
  }
}

.legal-notices {
  display: flex;
  justify-content: center;
}
