<div class="p-2 min-w-[990px] min-h-[600px]">
  <!-- close button -->
  <div class="flex w-full justify-end">
    <button class="!fixed" mat-icon-button mat-dialog-close aria-label="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- close button -->

  <!-- Title Section -->
  <div class="flex flex-row justify-between">
    <div class="flex flex-col justify-start mt-4 mx-4 lg:mx-8 lg:mt-[3rem]">
      <h3 class="form-dialog-title">
        {{ dataOffer.assetTitle }}

        <app-connector-status-led
          class="inline-flex"
          [status]="dataOffer.connectorOnlineStatus">
        </app-connector-status-led>
      </h3>
      <p class="form-dialog-prose">{{ dataOffer.organizationName }}</p>
    </div>
    <div class="flex flex-row justify-start mt-4 mx-4 lg:mx-8 lg:mt-[2.5rem]">
      <button mat-icon-button (click)="copyUrl()">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close aria-label="close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Title Section -->

  <!-- Content Section -->
  <div class="mx-4 lg:mx-8">
    <!-- Description -->
    <markdown-description
      *ngIf="asset.description"
      class="pt-3"
      [description]="asset.description"></markdown-description>

    <!-- Tag List -->
    <asset-card-tag-list
      *ngIf="asset.keywords?.length"
      class="mt-[1.25rem]"
      [keywords]="asset.keywords"></asset-card-tag-list>

    <!-- Properties -->
    <property-grid-group class="mt-4 text-gray-800" [propGroups]="propGroups">
    </property-grid-group>

    <!-- On Request Asset Text -->
    <div *ngIf="isOnRequestDataOffer" class="mt-10">
      <div
        class="flex flex-row flex-wrap text-base font-semibold text-black leading-6">
        On Request Data Offer
      </div>
      <div class="text-sm mt-2">
        This data offer is not available for immediate consumption. However, the
        creator left an email address to contact them if interested.
      </div>
      <div class="text-sm">
        Click <span class="!font-medium">Contact</span> to email the data offer
        provider.
      </div>
    </div>
  </div>
  <!-- Content Section -->

  <!-- Action Section -->
  <mat-dialog-actions align="end">
    <div class="flex gap-4 mt-4">
      <button class="btn-accent-outline" type="button" mat-dialog-close>
        Close
      </button>
      <a
        *ngIf="isOnRequestDataOffer"
        class="btn-accent"
        [href]="this.onRequestContactLink"
        >Contact</a
      >
    </div>
  </mat-dialog-actions>
  <!-- Action Section -->
</div>
