<div class="p-2">
  <!-- close button -->
  <div class="flex w-full justify-end"></div>
  <!-- close button -->

  <!-- Title Section -->
  <div class="flex flex-row justify-between">
    <div class="flex flex-col justify-start mt-4 mx-4 lg:mx-8 lg:mt-[3rem]">
      <h3 class="form-dialog-title">
        {{ dataOffer.assetTitle }}

        <app-connector-status-led
          class="inline-flex"
          [status]="dataOffer.connectorOnlineStatus">
        </app-connector-status-led>
      </h3>
      <p class="form-dialog-prose">{{ dataOffer.organizationName }}</p>
    </div>
    <div
      class="flex flex-row justify-start items-start mt-4 mx-4 lg:mx-8 lg:mt-[3rem]">
      <button mat-icon-button (click)="copyUrl()">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close aria-label="close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Title Section -->

  <!-- Content Section -->
  <div class="mx-4 lg:mx-8">
    <!-- Description -->
    <markdown-description
      *ngIf="asset.description"
      class="pt-3"
      [description]="asset.description"></markdown-description>

    <!-- Tag List -->
    <asset-card-tag-list
      *ngIf="asset.keywords?.length"
      class="mt-[1.25rem]"
      [keywords]="asset.keywords"></asset-card-tag-list>

    <!-- Properties -->
    <property-grid-group class="mt-4 text-gray-800" [propGroups]="propGroups">
    </property-grid-group>
  </div>
  <!-- Content Section -->

  <!-- Action Section -->
  <mat-dialog-actions align="end">
    <div class="flex gap-4">
      <button class="btn-accent-outline" type="button" mat-dialog-close>
        Close
      </button>
    </div>
  </mat-dialog-actions>
  <!-- Action Section -->
</div>
