<section class="container m-10 px-10 mx-auto">
  <app-header [headerConfig]="headerConfig"></app-header>

  <!-- Table -->
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-200 border-l-4 border-gray-200">
              <tr>
                <th
                  class="py-3.5 pl-3 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Connector ID
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Connector Name
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Client Organization
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Type
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Environment
                </th>
              </tr>
            </thead>

            <ng-container *ngIf="state.connectors.isReady">
              <ng-container
                *ngIf="state.connectors.data.length > 0; else noRows">
                <tbody
                  *ngFor="let connector of state.connectors.data; let i = index"
                  class="bg-white divide-y divide-gray-200"
                  (click)="openDetailPage(connector)">
                  <tr
                    class="border-l-4 border-transparent hover:bg-slate-50 hover:border-l-4 hover:border-yellow-600/70 cursor-pointer -ml-1">
                    <td class="pl-3 py-8 text-sm font-medium whitespace-nowrap">
                      <div class="flex items-center gap-1.5">
                        <div
                          class="flex items-center gap-x-1.5"
                          [matTooltip]="
                            getConnectorStatusText(connector.status)
                          ">
                          <div
                            class="flex-none rounded-full p-1"
                            [ngClass]="
                              getConnectorStatusOuterRingClasses(
                                connector.status
                              )
                            ">
                            <div
                              class="h-1.5 w-1.5 rounded-full"
                              [ngClass]="
                                getConnectorStatusInnerCircleClasses(
                                  connector.status
                                )
                              "></div>
                          </div>
                        </div>
                        <h4>
                          {{ connector.id }}
                        </h4>
                      </div>
                    </td>
                    <td class="py-8 text-sm font-medium whitespace-nowrap">
                      <h4 class="text-gray-700">
                        {{ connector.name }}
                      </h4>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <div>
                        <h4 class="text-gray-700">
                          {{ connector.customerOrgName }}
                        </h4>
                      </div>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <div
                        class="inline px-3 py-1 text-sm font-normal rounded-full gap-x-2"
                        [ngClass]="getConnectorsTypeClasses(connector.type)">
                        {{ connector.type }}
                      </div>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <div>
                        <h4 class="text-gray-700">
                          {{ connector.environment.title }}
                        </h4>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-template #noRows>
                <tr>
                  <td
                    class="py-5 mx-auto text-sm font-normal text-center text-gray-700"
                    colspan="6">
                    No connectors registered yet.
                  </td>
                </tr>
              </ng-template>
            </ng-container>

            <tr *ngIf="state.connectors.isLoading">
              <td colspan="6">
                <div class="flex justify-center items-center">
                  <app-loading-element></app-loading-element>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<app-slide-over
  *ngIf="showDetail"
  [component]="componentToRender"
  (close)="closeDetailPage()"
  (navigate)="
    handleNavigation($event, slideOverConfig.childComponentInput.id)
  "></app-slide-over>
