<div class="relative h-screen">
  <!-- header -->
  <div
    class="top-0 p-8 bg-white flex justify-start items-center cursor-pointer">
    <img src="/assets/images/mds_logo_black.svg" alt="logo" />
  </div>
  <!-- header -->

  <div class="flex justify-center">
    <mat-stepper
      class="mt-4 w-full lg:w-2/3"
      labelPosition="bottom"
      linear
      #stepper>
      <!-- user profile form -->
      <mat-step
        color="accent"
        [editable]="state.state === 'editing' || state.state === 'error'"
        [completed]="userForm.valid || state.state === 'success'">
        <div class="flex flex-col px-1 md:px-8 w-full">
          <ng-template matStepLabel>User Details</ng-template>
          <app-user-create-form
            class="flex-grow my-4"
            [userForm]="userForm"></app-user-create-form>
          <div
            class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
            <button class="btn-accent-outline" type="button" routerLink="/">
              Cancel
            </button>

            <button
              class="btn-accent"
              matStepperNext
              [disabledBtn]="!userForm.valid">
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <!-- user profile form -->

      <!-- Organization profile form -->
      <mat-step
        color="accent"
        editable="false"
        [editable]="state.state === 'editing' || state.state === 'error'"
        [completed]="state.state === 'success'">
        <div class="flex flex-col px-1 md:px-8 w-full">
          <ng-template matStepLabel>Organization Profile</ng-template>
          <h3 class="wizard-step-title">Organization Profile</h3>
          <app-organization-create-form
            class="flex-grow my-4"
            [orgForm]="orgProfileForm"></app-organization-create-form>

          <app-tos-check [ctrl]="orgForm.controls.acceptedTos"></app-tos-check>

          <div
            class="border-t border-gray-900/10 pt-6 mt-6 mb-24 flex items-center justify-end gap-x-6">
            <button class="btn-accent-outline" type="button" routerLink="/">
              Cancel
            </button>

            <button
              class="btn-accent"
              [disabledBtn]="!userForm.valid || !orgForm.valid || loading"
              (click)="submit()">
              Register
            </button>
          </div>
        </div>
      </mat-step>
      <!-- Organization profile form -->

      <!-- final step -->
      <mat-step [editable]="false">
        <ng-template matStepLabel>Email Verification</ng-template>
        <div
          class="my-12 flex flex-col justify-center items-center text-center">
          <h3 class="wizard-end-title">Please verify your email!</h3>
          <p class="wizard-end-prose max-w-md">
            You will need to verify your email to complete registration. An
            email has been sent to {{ state.email }} with a verification link.
          </p>
          <button class="btn-accent" (click)="finish()">Finish</button>
        </div>
      </mat-step>
      <!-- final step -->
    </mat-stepper>
  </div>

  <!-- footer -->
  <app-footer-for-full-page></app-footer-for-full-page>
</div>
