/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  /* !border only for testing purposes! */
  /* border: 1px dashed lightskyblue; */
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

a {
  @apply hover:text-yellow-500  focus:text-yellow-500;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar-section {
  @apply flex flex-col w-full;
}

.sidebar-section-title-container {
  @apply py-5 flex flex-row justify-start pl-8 w-full;
}

.sidebar-section-title {
  @apply flex items-center self-start w-fit focus:outline-none font-extralight text-xs text-yellow-400;
}

.sidebar-item-container {
  @apply py-5 flex flex-row  pl-8 w-full;
}

.sidebar-item {
  @apply flex items-center self-start w-fit space-x-6 focus:outline-none text-white focus:text-yellow-400 hover:text-yellow-400 rounded cursor-pointer;
}

.sidebar-sub-item {
  @apply flex justify-start items-center space-x-6 hover:text-yellow-400 focus:text-yellow-400 text-gray-200 rounded lg:px-3 py-4 w-full;
}

.active {
  color: red;
}

.organization-profile-label {
  @apply text-black font-bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* bordefff solid white; */
  -webkit-text-fill-color: black;

  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

input:-webkit-autofill:disabled,
textarea:-webkit-autofill:disabled,
select:-webkit-autofill:disabled {
  -webkit-text-fill-color: black;

  box-shadow: 0 0 0px 1000px #fafafa inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

/* Animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
