/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* !border only for testing purposes! */
  /* border: 1px dashed lightskyblue; */
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
