@forward 'theme';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v13-latin-regular.woff2') format('woff2');
}

/* Outlined Material Icons */
@font-face {
  font-display: swap;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons Outlined'), local('MaterialIcons-Outlined'),
  url('./assets/fonts/material-icons-outlined-v109-latin-regular.woff2')
  format('woff2');
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  /* !border only for testing purposes! */
  /* border: 1px dashed lightskyblue; */
}

body {
  font-family: Arial, 'Inter', sans-serif;
  @apply bg-color-background;
}

a {
  @apply hover:text-brand-500  focus:text-brand-500 cursor-pointer;
}

/* TITLES */

.confirmation-dialog-title {
  @apply px-4 py-2;
  @apply text-lg font-semibold leading-6 text-black;
}

.form-dialog-title {
  @apply mb-1;
  @apply text-2xl font-semibold leading-6 text-gray-900;
}

.full-screen-end-title {
  @apply mb-4;
  @apply text-3xl font-bold leading-9 text-black;
}

.slideover-content-title {
  @apply font-semibold text-black leading-6;
}

.tooltip-title {
  @apply text-base font-semibold text-black leading-6 mb-2;
}

.selection-page-title {
  @apply text-2xl font-semibold text-black leading-9;
}

.wizard-step-title {
  @apply text-base font-semibold text-black leading-6;
}

.wizard-end-title {
  @apply mb-10;
  @apply text-3xl font-bold leading-9 text-black;
}

/* TEXTS */

.confirmation-dialog-prose {
  @apply text-gray-700 text-sm;
}

.form-dialog-prose {
  @apply text-sm leading-5 text-gray-500;
}

.full-screen-end-prose {
  @apply mb-6;
  @apply text-base leading-7 text-gray-600;
}

.selection-page-prose {
  @apply text-sm font-normal text-gray-500 leading-5;
}

.wizard-end-prose {
  @apply mb-8;
  @apply text-base leading-7 text-gray-600;
}

textarea {
  overflow-y: scroll; /* Hide any content that overflows the box */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Set your desired size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-icons-filled {
  font-family: 'Material Icons Filled';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Set your desired size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active {
  color: red;
  background-color: yellow;
}

.organization-profile-label {
  @apply text-black font-bold;
}

.btn-accent {
  @apply rounded-md bg-brand-black px-4 py-2 text-sm font-semibold text-white shadow-sm  hover:text-brand-500;
}
.btn-accent-outline {
  @apply rounded-md px-4 py-2 text-sm font-semibold shadow-sm border border-transparent hover:border  hover:border-black focus-visible:outline;
}

.btn-accent-danger {
  @apply rounded-md bg-red-700 px-4 py-2 text-sm font-semibold text-white shadow-sm  hover:bg-red-800;
}

.btn-accent-success {
  @apply rounded-md bg-green-700 px-4 py-2 text-sm font-semibold text-white shadow-sm  hover:text-brand-500;
}

.btn-outline {
  @apply flex items-center gap-2 rounded-md px-3 py-2 text-sm font-semibold shadow-sm border border-transparent hover:border-black focus-visible:outline;
}

.btn-dropdown-menu {
  @apply inline-flex gap-x-1.5 rounded-full items-center bg-white px-3.5 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-brand-highlight hover:text-brand-highlight hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none;
}

.btn-dropdown-menu:disabled:hover {
  @apply opacity-100 ring-0 text-gray-900 bg-white;
}
/* width */
::-webkit-scrollbar {
  width: 0.35rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.sidebarFooter {
  @apply flex flex-col text-gray-400 text-[11px] py-3 gap-1.5;
}

.details-row {
  @apply flex flex-col @md:grid @md:grid-cols-12 @md:gap-4 px-4 py-3 @md:px-0 items-start transition duration-300 ease-in-out transform bg-white;
}

.details-row:nth-child(odd) {
  @apply bg-gray-100;
}

.details-row-key {
  @apply @4xl:col-span-3 @2xl:col-span-5 col-span-6;
  @apply @md:px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2 whitespace-nowrap;
}

.details-row-key > mat-icon {
  @apply text-gray-500;
}

.details-row-value {
  @apply @4xl:col-span-9 @2xl:col-span-7 col-span-6;
  @apply mt-1 text-sm leading-6 text-gray-700 @md:mt-0;
}

.profile .details-row {
  @apply py-4 text-sm;
}

.status {
  @apply px-3 py-1 text-xs flex justify-center items-center font-normal rounded-full gap-x-2;
}

.larger-icon {
  @apply w-9 h-9 #{!important};
}

.smaller-icon {
  @apply w-4 text-base #{!important};
}

.mat-icon .larger {
  @apply w-8 h-8;
}

.mat-mdc-menu-panel.customMatMenu {
  max-width: fit-content !important;
}

.mat-mdc-form-field-error {
  display: none !important;
}

.mat-mdc-form-field-error:first-child {
  display: block !important;
}

.mat-mdc-text-field-wrapper {
  background-color: white;
}

.mat-mdc-paginator-container {
  @apply bg-color-background;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* bordefff solid white; */
  -webkit-text-fill-color: black;

  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

input:-webkit-autofill:disabled,
textarea:-webkit-autofill:disabled,
select:-webkit-autofill:disabled {
  -webkit-text-fill-color: black;

  box-shadow: 0 0 0px 1000px #fafafa inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

/* Animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mdc-notched-outline__notch {
  border-right: 0;
}

.modified-tooltip > .mdc-tooltip__surface {
  max-width: 400px !important;
}

.roles-tooltip > .mdc-tooltip__surface {
  max-width: 400px !important;
  max-height: unset !important;
  padding: 1rem !important;
  white-space: pre-wrap !important;
}

/* =============== */

.broker-online-status-online {
  @apply text-green-700;
}

.broker-online-status-offline {
  color: #cb8e1a;
}

.broker-online-status-dead {
  @apply text-red-600;
}

.mat-icon-\[16px\] {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}

.mat-icon-\[12px\] {
  font-size: 12px !important;
  width: 12px !important;
  height: 12px !important;
  line-height: 12px !important;
}

.mat-icon-\[22px\] {
  font-size: 22px !important;
  width: 22px !important;
  height: 22px !important;
  line-height: 22px !important;
}

.mat-icon-\[24px\] {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
}

.mat-icon-\[17px\] {
  font-size: 17px !important;
  line-height: 17px !important;
  width: 17px !important;
  height: 17px !important;
}

.mat-expansion-panel-flex-col .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
}

.mat-horizontal-stepper-wrapper {
  @apply bg-color-background;
}

.mat-icon-button,
.mat-mdc-icon-button {
  @apply inline-flex items-center justify-center;
}

.mat-mdc-paginator-range-label {
  @apply text-gray-500 text-xs;
}

.mat-mdc-standard-chip {
  padding: 0.25rem 0.5rem;
  background-color: #fcfcfc !important;
  border: 1px solid #71717171 !important;
  @apply text-sm font-medium;
}

.mdc-list-item--with-leading-checkbox .mdc-list-item__start {
  margin-right: 0.5rem !important;
}

.mat-mdc-form-field .centered-input {
  padding-top: 3px;
  line-height: normal;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.mat-form-field .centered-input::placeholder {
  line-height: normal;
  font-size: 16px;
}

.mat-form-field-without-margin-bottom {
  margin-bottom: -1.25rem !important;
}

.markdown-description {
  @apply text-sm #{!important};
  @apply prose whitespace-normal max-w-none;
  @apply prose-img:rounded-lg prose-img:my-3 prose-img:object-contain prose-img:max-w-full prose-img:max-h-[250px];
  @apply prose-a:text-[--link-color];
  @apply prose-blockquote:mx-0;
  @apply prose-code:rounded-lg;
  @apply prose-blockquote:border-solid prose-blockquote:border-t-0 prose-blockquote:border-r-0 prose-blockquote:border-b-0;
  @apply prose-table:border-collapse prose-table:text-[13px];
  @apply prose-th:px-[13px] prose-th:py-[6px] prose-th:border prose-th:border-[--tw-prose-td-borders] prose-th:align-middle prose-th:border-solid;
  @apply prose-td:px-[13px] prose-td:py-[6px] prose-td:border prose-td:border-[--tw-prose-td-borders] prose-td:align-middle prose-td:border-solid;

  letter-spacing: normal;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }
  h1 {
    font-size: 19px;
  }

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
  }

  a:has(> img) {
    @apply w-fit;
  }

  p:has(> a > img) {
    @apply flex flex-col;
  }

  :last-child {
    margin: 0px;
  }
}
