@use '@angular/material' as mat;
@use 'theme-sovity' as sovityColors;
@use 'theme-generated-variables' as themeGeneratedVars;

// Import theme and theme-dependent styles
.theme-sovity {
  @include mat.all-component-themes(sovityColors.$app-theme);
  @include themeGeneratedVars.theme-vars(
      sovityColors.$app-theme
  );

  --color-brand-400: #{sovityColors.$color-brand-400};
  --color-brand-500: #{sovityColors.$color-brand-500};
  --color-brand-primary: #{sovityColors.$color-brand-primary};
  --color-brand-black: #{sovityColors.$color-brand-black};
  --color-brand-highlight: #{sovityColors.$color-brand-highlight};

  --color-sidebar-bg: #{sovityColors.$color-sidebar-bg};
  --color-sidebar-selected: #{sovityColors.$color-sidebar-selected};
  --color-sidebar-text: #{sovityColors.$color-sidebar-text};
  --color-sidebar-text-selected: #{sovityColors.$color-sidebar-text-selected};
  --color-sidebar-section: #{sovityColors.$color-sidebar-section};

  --color-background: #{sovityColors.$color-background};
}
