<label
  class="w-full mb-2 text-sm"
  [class.text-red-600]="ctrl.touched && ctrl.invalid"
  [for]="ctrlId"
  >{{ required ? label + ' *' : label }}</label
>

<mat-form-field
  class="w-full min-h-min text-s"
  appearance="outline"
  color="accent">
  <textarea
    class="border-b-2 border-gray-400 mb-3 py-1 pl-1 !resize-none"
    rows="4"
    matInput
    [placeholder]="placeholder"
    [formControl]="ctrl"
    [id]="ctrlId"></textarea>

  <mat-error *ngIf="ctrl.touched && ctrl.hasError('required')" class="text-xs">
    {{ requiredMessage }}</mat-error
  >

  <mat-error *ngIf="ctrl.touched && ctrl.hasError('maxlength')" class="text-xs">
    At most {{ ctrl.errors!.maxlength.requiredLength }} characters
    allowed.</mat-error
  >

  <mat-error
    *ngIf="ctrl.touched && ctrl.hasError('trimmedBlank')"
    class="text-xs">
    The field cannot be blank.
  </mat-error>
</mat-form-field>
