<app-loading-element
  *ngIf="state.organizationDetail.organization.isLoading"
  class="flex justify-center"></app-loading-element>

<app-error-element
  *ngIf="state.organizationDetail.organization.isError"
  errorMessage="organization"></app-error-element>

<ng-container *ngIf="state.organizationDetail.organization.isReady">
  <div class="flex relative">
    <!-- Title bar -->
    <app-title-bar
      class="flex-1"
      [titleBarConfig]="titleBarConfig"
      [selectedTab]="slideOverContent"
      (onTabChange)="tabChangeHandler($event)"></app-title-bar>
    <!-- Title bar -->
  </div>

  <div class="px-8 mt-8 overflow-auto" [ngSwitch]="slideOverContent">
    <!-- organization detail info tab -->
    <div *ngSwitchCase="'DETAIL'">
      <app-organization-detail-info
        type="AUTHORITY"
        [organization]="this.organization"></app-organization-detail-info>
    </div>
    <!-- organization detail info tab -->

    <!-- organization members tab -->
    <div *ngSwitchCase="'MEMBERS'">
      <app-organization-user-list
        [organizationId]="organization.mdsId"
        [users]="organization.memberList"
        (onUserSelected)="userSelectedHandler($event)">
      </app-organization-user-list>
    </div>
    <!-- organization members tab -->

    <!-- organization users detail tab -->
    <div *ngSwitchCase="'USER_DETAILS'" class="px-8 mt-8">
      <app-organization-user-detail
        [userDetailPageConfig]="
          userDetailPageConfig
        "></app-organization-user-detail>
    </div>
    <!-- organization users detail tab -->
  </div>
</ng-container>
