This page should only be available to authority admins

<div *ngIf="state" class="m-4 shadow-2xl bg-white p-4">
  <b *ngIf="state.organizations.isLoading">Loading...</b>
  <b *ngIf="state.organizations.isError">Failed loading organizations!</b>
  <ul *ngIf="state.organizations.isReady">
    <li *ngFor="let organization of state.organizations.data">
      {{ organization.id }}
    </li>
  </ul>
</div>

{{ uap | json }}

<br />

User: {{ uap?.users?.length ? uap!!.users[0]!!.firstName : 'no user' }}
