<section class="my-4 px-8 flex flex-col">
  <app-loading-element
    *ngIf="state.organization.isLoading"></app-loading-element>

  <app-error-element
    *ngIf="state.organization.isError"
    errorMessage="organization"></app-error-element>

  <app-header
    *ngIf="state.headerBarConfig"
    [headerConfig]="state.headerBarConfig"></app-header>

  <app-organization-edit-form
    *ngIf="form"
    class="mt-5"
    [orgForm]="form.group"></app-organization-edit-form>

  <div *ngIf="form" class="flex justify-end gap-4 mt-6">
    <a
      class="btn-accent"
      type="button"
      routerLink="/authority/organizations/{{state.organization.data.id}}">
      Back
    </a>
    <button
      class="btn-accent"
      type="button"
      [disabledBtn]="!form.group.valid || state.busy"
      (click)="onSubmitClick()">
      Update
    </button>
  </div>
</section>
