<section class="container m-10 px-10 mx-auto">
  <app-header
    [headerConfig]="headerConfig"
    (headerActionClicked)="headerActionHandler($event)"></app-header>

  <app-filter-bar
    [filterBarConfig]="filterBarConfig"
    (onFilter)="handleFilter($event)">
  </app-filter-bar>

  <!-- Table -->
  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-200">
              <tr class="bg-gray-100">
                <th
                  class="py-3.5 pl-3 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Connector ID
                </th>
                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Connector Name
                </th>
                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Host
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Type
                </th>

                <th
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  Environment
                </th>
                <th
                  *ngIf="'PARTICIPANT_CURATOR' | hasRole | async"
                  class="py-3.5 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  More
                </th>
              </tr>
            </thead>

            <ng-container *ngIf="state.connectors.isReady">
              <ng-container
                *ngIf="state.connectors.data.length > 0; else noRows">
                <tbody
                  *ngFor="let connector of state.connectors.data; let i = index"
                  class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="pl-3 py-8 text-sm font-medium whitespace-nowrap">
                      <a (click)="openDetailPage(connector)">
                        {{ connector.id }}
                      </a>
                    </td>
                    <td class="py-8 text-sm font-medium whitespace-nowrap">
                      <a (click)="openDetailPage(connector)">
                        {{ connector.name }}
                      </a>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <div>
                        <h4 class="text-gray-700">
                          {{ connector.hostName }}
                        </h4>
                      </div>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <div>
                        <h4 class="text-gray-700">
                          {{ connector.type }}
                        </h4>
                      </div>
                    </td>
                    <td class="py-8 text-sm whitespace-nowrap">
                      <div>
                        <h4 class="text-gray-700">
                          {{ connector.environment.title }}
                        </h4>
                      </div>
                    </td>
                    <td
                      *ngIf="'PARTICIPANT_CURATOR' | hasRole | async"
                      class="py-8 text-sm whitespace-nowrap">
                      <svg
                        *ngIf="
                          !state.busy ||
                          (state.busy && connector.id !== connectorToDelete)
                        "
                        class="w-6 h-6 p-1 text-gray-600 hover:text-brand-500 cursor-pointer border-2 border-gray-600 hover:border-brand-500 rounded-full"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        (click)="deleteConnector(connector.id)">
                        <path
                          d="M10 12V17"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M14 12V17"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M4 7H20"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                      <svg
                        *ngIf="state.busy && connector.id === connectorToDelete"
                        class="animate-spin h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle
                          cx="12"
                          cy="12"
                          r="10"
                          stroke-opacity="0.3"></circle>
                        <path d="M22 12c0-5.523-4.477-10-10-10"></path>
                      </svg>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-template #noRows>
                <tr>
                  <td
                    class="py-5 mx-auto text-sm font-normal text-center text-gray-700"
                    colspan="6">
                    No connectors registered yet.
                  </td>
                </tr>
              </ng-template>
            </ng-container>

            <tr *ngIf="state.connectors.isLoading">
              <td colspan="6">
                <div class="flex justify-center items-center">
                  <app-loading-element></app-loading-element>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<app-slide-over
  *ngIf="showDetail"
  [component]="componentToRender"
  [slideOverConfig]="slideOverConfig"
  (close)="closeDetailPage()"
  (navigate)="
    handleNavigation($event, slideOverConfig.childComponentInput.id)
  "></app-slide-over>

<!-- Modal -->
<div *ngIf="showModal" class="fixed z-50 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
    <div
      class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <div class="bg-gray-400 px-4 py-3">
        <h2 class="font-medium text-white">DELETE CONNECTOR</h2>
      </div>
      <div class="px-4 py-3">
        <p class="text-gray-700">
          Are you sure you want to delete this connector
          {{ connectorToDelete }}?
        </p>
      </div>
      <div class="px-4 py-3 flex justify-end">
        <button
          class="px-4 py-2 bg-red-400 text-white rounded-lg mr-2 hover:bg-red-500"
          (click)="confirmDeleteConnector()">
          Delete
        </button>
        <button
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400"
          (click)="cancelDeleteConnector()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
