<div class="fixed bottom-0 right-0 z-50">
  <div
    class="flex flex-row items-center justify-evenly p-2 bg-blue-100 gap-3 rounded-xl h-20">
    <div *ngFor="let user of users" [ngClass]="minimize ? 'hidden' : ''">
      <button
        class="hover:bg-blue-300 cursor-pointer rounded-md text-xs py-2 px-3"
        [ngClass]="{'bg-blue-300': user.user === currentUser}"
        (click)="setUser(user)">
        <div class="flex flex-col">
          <span class="font-medium">{{ user.role }}</span>
          <span class="text-gray-500">{{ user.organization }}</span>
        </div>
      </button>
    </div>

    <button
      class="cursor-pointer flex justify-center items-center w-10 h-10 rounded-full bg-slate-50 text-lg"
      (click)="hide()">
      <span class="sr-only">{{ minimize ? 'Expand' : 'Minimize' }}</span>
      <svg
        class="w-6 h-6 text-gray-700 transform transition-transform duration-100 ease-linear"
        viewBox="0 0 24 24"
        [ngClass]="minimize ? 'rotate-90' : '-rotate-90'">
        <path fill="currentColor" d="M7 10l5 5 5-5z"></path>
      </svg>
    </button>
  </div>
</div>
