<label class="w-full mb-2 text-sm" [for]="ctrlId">{{ label }}</label>
<mat-form-field class="w-full" appearance="outline" color="accent">
  <mat-select
    [placeholder]="'Select ' + label"
    [id]="ctrlId"
    [formControl]="ctrl"
    [compareWith]="compareWith">
    <mat-select-trigger>
      <span *ngIf="ctrl.value">{{ ctrl.value.name }}</span>
    </mat-select-trigger>
    <mat-option
      *ngFor="let organization of organizations?.dataOrUndefined"
      [value]="organization">
      <div mat-line>{{ organization.name }}</div>
      <div class="text-gray-500 text-xs" mat-line>{{ organization.id }}</div>
    </mat-option>
  </mat-select>
  <mat-error
    class="text-sm"
    appFormControlError
    [fieldName]="label"
    [control]="ctrl"></mat-error>
</mat-form-field>
