<div
  class="flex flex-col items-center justify-center fixed left-0 right-0 top-0 bottom-0 w-screen h-screen bg-gray-100 text-gray-700 !overflow-hidden">
  <p
    class="inline-block p-3 m-6 text-2xl font-semibold text-center tracking-wider text-teal-900 uppercase bg-teal-accent-400">
    Please Create the Profile <br />of Your Organization
  </p>

  <div class="container flex items-center justify-center">
    <form
      class="flex flex-col bg-white shadow-xl w-2/3 md:w-4/5 xl:w-3/5 2xl:w-1/2 p-10 rounded-3xl"
      ngxsForm="organization.group"
      [formGroup]="group"
      (ngSubmit)="submit()">
      <div class="select-none flex flex-col justify-between items-center my-2">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full mb-2" for="formOrgName"
            >Organization Name</label
          >
          <input
            id="formOrgName"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="name"
            placeholder="The name of your organization" />
        </div>

        <div
          *ngIf="
            group.controls.name.touched &&
            group.controls.name.dirty &&
            group.controls.name.hasError('required')
          "
          class="mt-3 text-red-600">
          Name is a required field
        </div>
      </div>

      <form [formGroup]="addressGroup">
        <label class="label w-full mb-2" for="formOrgDuns">Address</label>
        <div class="flex gap-2">
          <div
            class="select-none flex-1 flex flex-col justify-between items-center my-2">
            <div class="flex flex-col justify-between items-center w-full">
              <label class="label w-full mb-2" for="formOrgStreet"
                >Street</label
              >
              <input
                id="formOrgStreet"
                class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
                type="text"
                formControlName="street"
                placeholder="Organization Street address" />
            </div>

            <div
              *ngIf="
                addressGroup.controls['street'].touched &&
                addressGroup.controls['street'].dirty &&
                addressGroup.controls['street'].hasError('required')
              "
              class="mt-3 text-red-600">
              Street is a required field
            </div>
          </div>

          <div
            class="select-none flex-1 flex flex-col justify-between items-center my-2">
            <div class="flex flex-col justify-between items-center w-full">
              <label class="label w-full mb-2" for="formOrgHouseNo"
                >House No.</label
              >
              <input
                id="formOrgHouseNo"
                class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
                type="text"
                formControlName="houseNo"
                placeholder="Organization House Number" />
            </div>

            <div
              *ngIf="
                addressGroup.controls['houseNo'].touched &&
                addressGroup.controls['houseNo'].dirty &&
                addressGroup.controls['houseNo'].hasError('required')
              "
              class="mt-3 text-red-600">
              House Number is a required field
            </div>
          </div>
        </div>

        <div class="flex w-full gap-2">
          <div
            class="select-none flex-1 flex flex-col justify-between items-center my-2">
            <div class="flex flex-col justify-between items-center w-full">
              <label class="label w-full mb-2" for="formOrgZip">ZIP Code</label>
              <input
                id="formOrgZip"
                class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
                type="text"
                formControlName="zip"
                placeholder="Organization ZIP Code" />
            </div>

            <div
              *ngIf="
                addressGroup.controls['zip'].touched &&
                addressGroup.controls['zip'].dirty &&
                addressGroup.controls['zip'].hasError('required')
              "
              class="mt-3 text-red-600">
              ZIP is a required field
            </div>
          </div>

          <div
            class="select-none flex-1 flex flex-col justify-between items-center my-2">
            <div class="flex flex-col justify-between items-center w-full">
              <label class="label w-full mb-2" for="formOrgCity">City.</label>
              <input
                id="formOrgCity"
                class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
                type="text"
                formControlName="city"
                placeholder="Organization City" />
            </div>

            <div
              *ngIf="
                addressGroup.controls['city'].touched &&
                addressGroup.controls['city'].dirty &&
                addressGroup.controls['city'].hasError('required')
              "
              class="mt-3 text-red-600">
              City is a required field
            </div>
          </div>
        </div>
      </form>

      <div class="select-none flex flex-col justify-between items-center my-2">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full mb-2" for="formOrgDuns">DUNS</label>
          <input
            id="formOrgDuns"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="taxId"
            placeholder="The Tax ID number is a nine-digit number" />
          <div>
            *You can find the Tax ID number here:
            <a
              class="text-blue-500"
              target="blank"
              rel="“noreferrer”"
              href="https://www.dnb.com/de-de/upik"
              >https://www.dnb.com/de-de/upik</a
            >
          </div>
        </div>

        <div
          *ngIf="
            group.controls.taxId.touched &&
            group.controls.taxId.dirty &&
            group.controls.taxId.hasError('required')
          "
          class="mt-3 text-red-600">
          Tax ID is a required field
        </div>
      </div>

      <div class="select-none flex flex-col justify-between items-center my-2">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full mb-2" for="formOrgUrl">Web Page</label>
          <input
            id="formOrgUrl"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="url"
            placeholder="Web Page of your Organization" />
        </div>

        <div
          *ngIf="
            group.controls.url.touched &&
            group.controls.url.dirty &&
            group.controls.url.hasError('required')
          "
          class="mt-3 text-red-600">
          Web Page is a required field
        </div>
      </div>

      <div class="select-none flex flex-col justify-between items-center my-2">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full mb-2" for="formOrgSecMail"
            >Security Contact Email</label
          >
          <input
            id="formOrgSecMail"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="securityEmail"
            placeholder="admin@example.com" />
        </div>

        <div
          *ngIf="
            group.controls.securityEmail.touched &&
            group.controls.securityEmail.dirty &&
            group.controls.securityEmail.hasError('required')
          "
          class="mt-3 text-red-600">
          Security Contact Email is a required field
        </div>

        <div
          *ngIf="
            group.controls.securityEmail.touched &&
            group.controls.securityEmail.dirty &&
            group.controls.securityEmail.hasError('email')
          "
          class="mt-3 text-red-600">
          Please enter correct Email address
        </div>
      </div>

      <div class="select-none flex flex-col justify-between items-center my-2">
        <div class="flex flex-row justify-start mb-2">
          <input
            id="authorizedCheck"
            class="mr-6"
            type="checkbox"
            formControlName="authorizedCheck" />
          <label for="authorizedCheck"
            >I hereby confirm that I am authorized and eligible to create a
            profile of this organization.</label
          >
        </div>

        <div
          *ngIf="
            group.controls.authorizedCheck.touched &&
            group.controls.authorizedCheck.hasError('required')
          "
          class="mt-3 text-red-600">
          Please confirm that you are authorized to create a profile for this
          organization
        </div>
      </div>
      <li class="border-gray-400 flex flex-row mt-4">
        <button
          class="select-none cursor-pointer bg-green-200 rounded-md flex flex-1 items-center text-center transition duration-100 ease-linear transform active:bg-green-300 hover:bg-green-300 hover:text-black w-28 p-3 focus:text-black focus:bg-green-300 disabled:bg-slate-500"
          type="submit"
          [disabled]="!group.valid || state.state === 'submitting'">
          <div class="flex-1">
            <div class="text-base">Submit</div>
          </div>
        </button>
      </li>

      <div *ngIf="state.state === 'success'" class="mt-6">
        <div
          class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
          role="alert">
          <strong class="font-bold">Success!</strong>
          <span class="block sm:inline"
            >&nbsp;You successfully created the profile of your organization.
            <strong>You'll be logged out in 5 seconds.</strong>If that doesn't
            happen please use the button below</span
          >
        </div>
      </div>

      <div *ngIf="state.state === 'error'" class="py-3">
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
          role="alert">
          <strong class="font-bold">Error!</strong>
          <span class="block sm:inline"
            >&nbsp; Failed creating organization. Please try again.</span
          >
        </div>
      </div>
    </form>
  </div>
  <div class="fixed left-20 bottom-20">
    <a
      class="py-3 px-8 rounded-md bg-black text-white font-bold"
      [href]="config.logoutUrl"
      >Log Out</a
    >
  </div>
</div>
