<section class="container m-10 px-10 mx-auto">
  <app-header [headerConfig]="headerConfig"></app-header>

  <app-filter-bar
    [filterBarConfig]="filterBarConfig"
    (onFilter)="handleFilter($event)">
  </app-filter-bar>

  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-200 border-l-4 border-gray-200">
              <tr>
                <th
                  class="py-3.5 pl-3 text-sm font-normal text-gray-700 text-left"
                  scope="col">
                  MDS ID
                </th>
                <th
                  class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  Organization Name
                </th>

                <th
                  class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  Admin Email
                </th>

                <th
                  class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  Users
                </th>

                <th
                  class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  Connectors
                </th>

                <th
                  class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  Avail. Data Offers
                </th>

                <th
                  class="py-3.5 px-4 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  On Request Data Offers
                </th>

                <th
                  class="px-12 py-3.5 text-sm font-normal text-left text-gray-700"
                  scope="col">
                  Status
                </th>
              </tr>
            </thead>
            <ng-container *ngIf="state.organizations.isReady">
              <ng-container
                *ngIf="
                  state.organizations.data.length > 0 &&
                    (state.organizations.data | sortingFilter : filter).length >
                      0;
                  else noRows
                ">
                <tbody
                  *ngFor="
                    let organization of state.organizations.data
                      | sortingFilter : filter
                  "
                  class="bg-white divide-y divide-gray-200"
                  (click)="openDetailPage(organization)">
                  <tr
                    class="border-l-4 border-transparent hover:bg-slate-50 hover:border-l-4 hover:border-yellow-600/70 cursor-pointer -ml-1">
                    <td
                      class="px-4 py-4 text-sm font-medium whitespace-nowrap text-gray-700">
                      {{ organization.mdsId }}
                    </td>

                    <td
                      class="px-4 py-4 text-sm font-medium whitespace-nowrap text-gray-700">
                      {{ organization.name }}
                    </td>

                    <td
                      class="px-4 py-4 text-sm font-medium whitespace-nowrap text-gray-700">
                      {{ organization.mainContactEmail }}
                    </td>

                    <td
                      class="px-4 py-4 text-sm text-center font-medium whitespace-nowrap text-gray-700">
                      {{ organization.numberOfUsers }}
                    </td>

                    <td
                      class="px-4 py-4 text-sm text-center font-medium whitespace-nowrap text-gray-700">
                      {{ organization.numberOfConnectors }}
                    </td>

                    <td
                      class="px-4 py-4 text-sm text-center font-medium whitespace-nowrap text-gray-700">
                      {{ organization.numberOfLiveDataOffers }}
                    </td>

                    <td
                      class="px-4 py-4 text-sm text-center font-medium whitespace-nowrap text-gray-700">
                      {{ organization.numberOfOnRequestDataOffers }}
                    </td>

                    <td
                      class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                      <div
                        class="inline px-3 py-1 text-sm font-normal rounded-full gap-x-2"
                        [ngClass]="
                          getOrganizationRegistrationStatusClasses(
                            organization.registrationStatus
                          )
                        ">
                        {{ organization.registrationStatus }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-template #noRows>
                <tr>
                  <td
                    class="py-5 px-6 text-sm font-normal text-center text-gray-700"
                    colspan="100%">
                    No organizations to show.
                  </td>
                </tr>
              </ng-template>
            </ng-container>
            <tr *ngIf="state.organizations.isLoading">
              <td colspan="100%">
                <div class="flex justify-center items-center">
                  <app-loading-element></app-loading-element>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <app-slide-over
    *ngIf="showDetail"
    [component]="componentToRender"
    (close)="closeDetailPage()"
    (navigate)="
      handleNavigation($event, slideOverConfig.childComponentInput.id)
    "></app-slide-over>
</section>
