<div
  class="container mx-auto h-screen flex flex-col justify-center items-center">
  <img src="/assets/images/logo_light.svg" alt="logo" />
  <div class="max-w-2xl mx-auto text-center">
    <p class="full-screen-end-prose max-w-md">
      If your organization is already participating in the MDS, please ask your
      organization's administrator to invite you.
    </p>
    <div class="flex items-center flex-col gap-2">
      <a
        id="btn-login"
        class="w-[300px] bg-black hover:bg-black text-white font-bold py-2 px-4 rounded active:scale-[0.99]"
        [attr.href]="appConfig.loginUrl">
        Log In
      </a>
      <a
        id="btn-register-organization"
        class="w-[300px] bg-white text-black border border-gray-700 font-bold py-2 px-4 rounded active:scale-[0.99]"
        routerLink="/create-organization">
        Register Organization
      </a>
    </div>
  </div>

  <!-- footer -->
  <app-footer-for-full-page></app-footer-for-full-page>
</div>
