<div class="p-1">
  <div class="flex flex-row justify-start items-center">
    <div class="flex flex-col mt-6">
      <div class="mat-card-title text-xl font-bold ml-6">Contract Policy</div>
      <div class="text-sm ml-6 text-gray-500">
        {{ data.subtitle }}
      </div>
    </div>
    <button
      class="ml-auto mr-3 translate-y-2"
      mat-icon-button
      mat-dialog-close
      aria-label="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content cdkFocusRegionstart>
    <ngx-json-viewer
      class="grow shrink-0"
      style="
        display: block;
        min-width: 40rem;
        min-height: 60vh;
        max-width: 40rem;
        max-height: 60vh;
        letter-spacing: -0.02em;
      "
      [json]="visibleJson"
      [expanded]="true"
      [depth]="-1"></ngx-json-viewer>
  </div>

  <div class="w-full flex flex-row justify-between" mat-dialog-actions>
    <mat-checkbox
      class="example-margin text-sm ml-2"
      cdkFocusRegionstart
      [(ngModel)]="removeNulls"
      (ngModelChange)="updateVisibleJson()"
      >Cleaned JSON
    </mat-checkbox>
    <div class="ml-auto">
      <mat-dialog-actions>
        <div class="flex gap-4">
          <button class="btn-accent-outline" type="button" mat-dialog-close>
            Close
          </button>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>
