<h2 class="wizard-end-title">Finish setting up your connector!</h2>
<p class="wizard-end-prose max-w-2xl">
  To setup the connector, you will have to follow the Deployment Guide in the
  {{
    ('mds-id' | isActiveFeature)
      ? 'MDS Wiki'
      : 'EDC repository which you can find by clicking the button below'
  }}. <br />
  To get you started, we have prepared the following:
</p>
<div class="relative p-4 bg-gray-100 max-w-5xl overflow-hidden">
  <div class="absolute top-0 right-0">
    <button
      mat-icon-button
      aria-label="copy button with"
      (click)="copyToClipboard()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>

  <code
    class="block text-left text-sm text-gray-500 whitespace-pre overflow-y-auto break-words p-3"
    >{{ connectorConfig }}</code
  >
</div>
<div class="mt-6">
  <a
    class="btn-outline"
    href="https://github.com/sovity/edc-ce/releases"
    target="_blank">
    <mat-icon svgIcon="github"></mat-icon>
    <span>Get your Connector on GitHub</span>
  </a>
</div>
