<aside class="h-full flex flex-col justify-between overflow-y-auto px-2">
  <div class="flex flex-col w-full">
    <div
      class="flex justify-start my-7 items-center cursor-pointer text-white"
      [ngClass]="isExpandedMenu ? 'lg:p-5 space-x-3 mx-3' : 'mr-0 space-x-0'"
      (click)="openNewTab()">
      <img
        *ngIf="isExpandedMenu"
        class="scale-95"
        src="/assets/images/mds_logo_yellow.svg"
        alt="logo" />
      <img
        *ngIf="!isExpandedMenu"
        class="scale-[0.7]"
        src="/assets/images/mds_logo_no_text.svg"
        alt="logo" />
    </div>

    <div class="flex-grow">
      <ng-container *ngFor="let section of sidebarSections">
        <div *ngIf="section.userRoles | hasAnyRole | async">
          <div *ngIf="section.title" class="flex justify-start">
            <p
              class="py-3 pl-5 text-xs leading-4 text-gray-300"
              [ngClass]="isExpandedMenu ? 'block' : 'hidden'">
              {{ section.title }}
            </p>
          </div>

          <app-sidebar-element
            *ngFor="let menu of section.menus"
            class="my-6"
            #tooltip="matTooltip"
            matTooltipPosition="right"
            [matTooltipDisabled]="isExpandedMenu"
            [matTooltip]="menu.title"
            [sidebarMenu]="menu"
            [isExpandedMenu]="isExpandedMenu">
          </app-sidebar-element>
        </div>
      </ng-container>
    </div>
  </div>
  <footer
    class="flex flex-col text-gray-400 text-[11px] py-3 gap-1.5"
    [ngClass]="isExpandedMenu ? '' : 'pl-2 pt-6'">
    <app-footer-links [isExpandedMenu]="isExpandedMenu"></app-footer-links>
    <app-footer-copyright
      [isExpandedMenu]="isExpandedMenu"></app-footer-copyright>
  </footer>
</aside>
