<aside class="h-full flex flex-col justify-between overflow-y-auto px-2">
  <div class="flex flex-col w-full">
    <div
      class="flex justify-start my-7 items-center cursor-pointer text-white"
      [ngClass]="isExpandedMenu ? 'lg:p-5 space-x-3 mx-3' : 'mr-0 space-x-0'"
      (click)="openNewTab()">
      <img
        src="/assets/images/logo.svg"
        alt="logo"
        [ngClass]="isExpandedMenu ? '' : 'scale-75'" />
      <div [ngClass]="isExpandedMenu ? 'block' : 'hidden'">
        <p class="text-brand-yellow font-bold leading-5">
          Mobility <br />
          Data Space<br />
          Portal
        </p>
      </div>
    </div>

    <div class="flex-grow">
      <ng-container *ngFor="let section of sidebarSections">
        <div *ngIf="section.userRoles | hasAnyRole | async">
          <div class="flex justify-start">
            <p
              class="py-3 pl-5 text-xs leading-4 text-gray-300"
              [ngClass]="isExpandedMenu ? 'block' : 'hidden'">
              {{ section.title }}
            </p>
          </div>

          <app-sidebar-element
            *ngFor="let menu of section.menus"
            class="my-6"
            #tooltip="matTooltip"
            matTooltipPosition="right"
            [matTooltipDisabled]="isExpandedMenu"
            [matTooltip]="menu.title"
            [sidebarMenu]="menu"
            [isExpandedMenu]="isExpandedMenu">
          </app-sidebar-element>
        </div>
      </ng-container>
    </div>
  </div>
  <footer class="flex flex-col text-gray-400 text-[11px] py-3 gap-1.5">
    <app-footer-links class="max-w-sm"></app-footer-links>
    <app-footer-copyright></app-footer-copyright>
  </footer>
</aside>
