<h2 mat-dialog-title>Certificate Generation Form</h2>
<mat-dialog-content>
  <form autocomplete="off" [formGroup]="certificateForm">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4 mt-8">
      <!-- Common Name -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forCommonName">Common Name</label>
          <input
            id="forCommonName"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="commonName"
            placeholder="Common Name" />
        </div>
      </div>
      <!-- Common Name -->

      <!-- Legal Name -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forLegalName">Legal Name</label>
          <input
            id="forLegalName"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="legalName"
            placeholder="Legal Name" />
        </div>
        <ng-container
          *ngIf="
            certificateForm.controls['legalName'].touched &&
            certificateForm.controls['legalName'].dirty &&
            certificateForm.controls['legalName'].hasError('required')
          ">
          <small class="text-red-600"> Legal name is a required field</small>
        </ng-container>
      </div>
      <!-- Legal Name -->

      <!-- Country  -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forCountryName">Country</label>
          <input
            id="forCountryName"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="country"
            placeholder="Country Name" />
        </div>
        <ng-container
          *ngIf="
            certificateForm.controls['country'].touched &&
            certificateForm.controls['country'].dirty &&
            certificateForm.controls['country'].hasError('required')
          ">
          <small class="text-red-600"> Country name is a required field</small>
        </ng-container>
      </div>
      <!-- Country   -->

      <!-- State  -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forStateName">State</label>
          <input
            id="forStateName"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="state"
            placeholder="Bavaria" />
        </div>
        <ng-container
          *ngIf="
            certificateForm.controls['state'].touched &&
            certificateForm.controls['state'].dirty &&
            certificateForm.controls['state'].hasError('required')
          ">
          <small class="text-red-600"> State name is a required field</small>
        </ng-container>
      </div>
      <!-- State   -->

      <!-- city  -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forCityName">City</label>
          <input
            id="forCityName"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="city"
            placeholder="Munich" />
        </div>
        <ng-container
          *ngIf="
            certificateForm.controls['city'].touched &&
            certificateForm.controls['city'].dirty &&
            certificateForm.controls['city'].hasError('required')
          ">
          <small class="text-red-600"> City name is a required field</small>
        </ng-container>
      </div>
      <!-- city   -->

      <!-- Organizational Unit  -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forOrganizationalUnit"
            >Organization Unit</label
          >
          <input
            id="forOrganizationalUnit"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="organizationalUnit"
            placeholder="Engineering Department" />
        </div>
        <ng-container
          *ngIf="
            certificateForm.controls['organizationalUnit'].touched &&
            certificateForm.controls['organizationalUnit'].dirty &&
            certificateForm.controls['organizationalUnit'].hasError('required')
          ">
          <small class="text-red-600">
            Organization Unit is a required field</small
          >
        </ng-container>
      </div>
      <!-- Organizational Unit  -->

      <!-- email  -->
      <div class="select-none flex flex-col justify-between">
        <div class="flex flex-col justify-between items-center w-full">
          <label class="label w-full" for="forEmail">Email Address</label>
          <input
            id="forEmail"
            class="w-full border-b-2 border-gray-400 mb-3 py-1 pl-2"
            type="text"
            formControlName="email"
            placeholder="Organization Email Address" />
        </div>
        <ng-container
          *ngIf="
            certificateForm.controls['email'].touched &&
            certificateForm.controls['email'].dirty &&
            certificateForm.controls['email'].hasError('required')
          ">
          <small class="text-red-600">
            Organization Email Address is a required field</small
          >
        </ng-container>

        <ng-container
          *ngIf="
            certificateForm.controls['email'].touched &&
            certificateForm.controls['email'].dirty &&
            certificateForm.controls['email'].hasError('email')
          ">
          <small class="text-red-600">
            Organization Email Address is invalid</small
          >
        </ng-container>
      </div>
      <!-- email   -->
    </div>
    <div class="p-4 my-2">
      <p class="text-black text-lg">
        Please setup a password to generate and download a p12 formatted
        certificate
      </p>
      <div class="flex gap-6 my-4">
        <!-- password  -->
        <div class="select-none flex flex-col flex-1 justify-start">
          <div class="flex flex-col justify-between items-center w-full">
            <label class="label w-full" for="forPassword">Password</label>
            <div class="flex w-full border-b-2 border-gray-400 mb-3 py-1 pl-2">
              <input
                id="forPassword"
                class="flex-1"
                autocomplete="off"
                type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="password" />
              <button mat-icon-button (click)="togglePasswordVisibility()">
                <mat-icon>{{
                  showPassword ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
            </div>
          </div>
          <ng-container
            *ngIf="
              certificateForm.controls['password'].touched &&
              certificateForm.controls['password'].dirty &&
              certificateForm.controls['password'].hasError('required')
            ">
            <small class="text-red-600"> Password is a required field</small>
          </ng-container>

          <ng-container
            *ngIf="
              certificateForm.controls['password'].touched &&
              certificateForm.controls['password'].dirty &&
              certificateForm.controls['password'].hasError('minlength')
            ">
            <small class="text-red-600">
              Password must contain at least 8 Characters</small
            >
          </ng-container>

          <ng-container
            *ngIf="
              certificateForm.controls['password'].touched &&
              certificateForm.controls['password'].dirty &&
              certificateForm.controls['password'].hasError('pattern')
            ">
            <small class="text-red-600">
              Password must contain at least one uppercase letter, one lowercase
              letter, and one number</small
            >
          </ng-container>
        </div>
        <!-- password   -->

        <!-- confirm password  -->
        <div class="select-none flex flex-col flex-1 justify-start">
          <div class="flex flex-col justify-between items-center w-full">
            <label class="label w-full" for="forConfirmPassword"
              >Confirm Password</label
            >
            <div class="flex w-full border-b-2 border-gray-400 mb-3 py-1 pl-2">
              <input
                id="forConfirmPassword"
                class="flex-1"
                autocomplete="off"
                type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="confirmPassword" />
              <button mat-icon-button (click)="togglePasswordVisibility()">
                <mat-icon>{{
                  showPassword ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
            </div>
          </div>
          <ng-container
            *ngIf="
              certificateForm.controls['confirmPassword'].touched &&
              certificateForm.controls['confirmPassword'].dirty &&
              certificateForm.controls['confirmPassword'].hasError('required')
            ">
            <small class="text-red-600"> Password is a required field</small>
          </ng-container>

          <ng-container *ngIf="certificateForm.hasError('mismatch')">
            <small class="text-red-600"> Passwords do not match</small>
          </ng-container>
        </div>
        <!-- confirm password  -->
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex gap-4">
    <button mat-dialog-close>Cancel</button>
    <button
      class="flex cursor-pointer items-center justify-start w-1/2 px-5 py-2 text-sm tracking-wide transition-colors duration-200 border text-blue-500 border-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 enabled:hover:bg-blue-500 hover:text-white disabled:border-gray-300 disabled:text-gray-300 disabled:cursor-not-allowed"
      [disabled]="certificateForm.invalid"
      (click)="requestForCertificate()">
      Generate & Download
    </button>
  </div>
</mat-dialog-actions>
