<app-loading-element
  *ngIf="state.connector.isLoading"
  class="flex justify-center"></app-loading-element>

<app-error-element
  *ngIf="state.connector.isError"
  errorMessage="connector"></app-error-element>

<ng-container *ngIf="state.connector.isReady">
  <div class="flex relative">
    <!-- Title bar -->
    <app-title-bar
      class="flex-1"
      [titleBarConfig]="titleBarConfig"></app-title-bar>
    <!-- Title bar -->
  </div>
  <div class="px-8 mt-8">
    <h3 class="text-base font-semibold text-black">Connector Details</h3>
    <div class="mt-6">
      <dl>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >cloud</mat-icon
            >
            Status:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ getConnectorStatusText(state.connector.data.status) }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >label</mat-icon
            >
            Connector ID:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.connectorId }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >apartment</mat-icon
            >Organization Name:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.orgName }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >label</mat-icon
            >
            MDS ID:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.orgMdsId }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >apartment</mat-icon
            >Hosting organization:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.hostName }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >folder</mat-icon
            >Environment:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.environment.title }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >power</mat-icon
            >Connector Name:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.connectorName }}
          </dd>
        </div>
        <div class="details-row">
          <dt
            class="px-2 text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >location_on</mat-icon
            >Location:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ state.connector.data.location }}
          </dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt
            class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >link</mat-icon
            >Frontend URL:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <a
              *ngIf="state.connector.data.frontendUrl"
              class="flex items-center gap-1 active:scale-[0.99] select-none group"
              target="_blank"
              [href]="state.connector.data.frontendUrl"
              ><div class="group-hover:underline">
                {{ state.connector.data.frontendUrl }}
              </div>
              <mat-icon
                class="!text-[17px] !mt-[8px] !text-gray-600 group-hover:!text-brand-500"
                >open_in_new</mat-icon
              >
            </a>
          </dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt
            class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >link</mat-icon
            >Connector Endpoint:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex gap-1 items-center cursor-pointer active:scale-[0.99] select-none"
            (click)="copyToClipboard(state.connector.data.endpointUrl)">
            <div>{{ state.connector.data.endpointUrl }}</div>
            <mat-icon class="!text-[17px] !mt-[7px]">content_copy</mat-icon>
          </dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt
            class="text-sm font-medium leading-6 text-gray-500 flex items-center gap-2">
            <mat-icon class="material-icons-outlined text-gray-500"
              >link</mat-icon
            >Management API URL:
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex gap-1 items-center cursor-pointer active:scale-[0.99] select-none"
            (click)="copyToClipboard(state.connector.data.managementUrl)">
            <div>{{ state.connector.data.managementUrl }}</div>
            <mat-icon class="!text-[17px] !mt-[7px]">content_copy</mat-icon>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</ng-container>

<!-- Modal -->
<app-delete-connector-modal
  [visible]="showModal"
  [isCaasConnector]="state.connector.data.type === 'CAAS'"
  (cancel)="cancelDeleteConnector()"
  (confirm)="confirmDeleteConnector()"></app-delete-connector-modal>
